//
// Generated (version 2022.2-SP6.4<build 146967>) at Thu May  8 15:08:14 2025
//

module pwm
(
    input rstn,
    input sysclk,
    output led
);
	// SDC constraint : (object sysclk) (id 1000) (clock pwm|sysclk) (inferred)
    wire N0;
    wire N4;
    wire [15:0] N26;
    wire [16:0] \N40.co ;
    wire N53;
    wire N54;
    wire [15:0] N73;
    wire _N7;
    wire _N17;
    wire _N21;
    wire _N33;
    wire _N34;
    wire _N35;
    wire _N36;
    wire _N37;
    wire _N38;
    wire _N39;
    wire _N40;
    wire _N41;
    wire _N42;
    wire _N43;
    wire _N44;
    wire _N45;
    wire _N46;
    wire _N49;
    wire _N50;
    wire _N51;
    wire _N52;
    wire _N53;
    wire _N54;
    wire _N55;
    wire _N56;
    wire _N57;
    wire _N58;
    wire _N59;
    wire _N60;
    wire _N61;
    wire _N62;
    wire _N71;
    wire _N108;
    wire _N113;
    wire _N120;
    wire _N121;
    wire _N128;
    wire _N129;
    wire _N138;
    wire _N140;
    wire _N143;
    wire [15:0] duty;
    wire inc_dec_flag;
    wire nt_led;
    wire nt_rstn;
    wire nt_sysclk;
    wire [15:0] pwm_cnt;

    GTP_GRS GRS_INST (
            .GRS_N (1'b1));

    GTP_INV N0_vname (
            .Z (N0),
            .I (nt_rstn));
    // defparam N0_vname.orig_name = N0;

    GTP_LUT6D /* N4_mux3 */ #(
            .INIT(64'b0000000000000000001111111111111100100010001000100010001000100010))
        N4_mux3 (
            .Z (_N7),
            .Z5 (N73[0]),
            .I0 (N4),
            .I1 (pwm_cnt[0]),
            .I2 (pwm_cnt[1]),
            .I3 (pwm_cnt[2]),
            .I4 (pwm_cnt[3]),
            .I5 (1'b1));
	// LUT = (~I3&~I4)|(~I2&~I4)|(~I1&~I4) ;
	// Z5 = I0&~I1 ;

    GTP_LUT6 /* N4_mux8 */ #(
            .INIT(64'b0000000011111111111111111111111100000000011111111111111111111111))
        N4_mux8 (
            .Z (_N17),
            .I0 (pwm_cnt[4]),
            .I1 (pwm_cnt[5]),
            .I2 (pwm_cnt[6]),
            .I3 (pwm_cnt[7]),
            .I4 (pwm_cnt[8]),
            .I5 (_N7));
	// LUT = (~I4)|(~I2&~I3)|(~I1&~I3)|(~I0&~I3)|(~I3&I5) ;

    GTP_LUT6 /* N4_mux15 */ #(
            .INIT(64'b0000000000000000001111111111111100000000000000000001111111111111))
        N4_mux15 (
            .Z (N4),
            .I0 (pwm_cnt[11]),
            .I1 (pwm_cnt[12]),
            .I2 (pwm_cnt[13]),
            .I3 (pwm_cnt[14]),
            .I4 (pwm_cnt[15]),
            .I5 (_N21));
	// LUT = (~I3&~I4)|(~I2&~I4)|(~I0&~I1&~I4)|(~I1&~I4&I5) ;

    GTP_LUT6CARRY /* N26_4_1 */ #(
            .INIT(64'b0110100101101001011010010110100100000000000000000000000000000000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("TRUE"))
        N26_4_1 (
            .COUT (_N49),
            .Z (N26[1]),
            .CIN (),
            .I0 (duty[0]),
            .I1 (inc_dec_flag),
            .I2 (duty[1]),
            .I3 (),
            .I4 (),
            .I5 (1'b1));
	// LUT = ~I2^I1^I0 ;
	// CARRY = (1'b0) ? CIN : I5 ;

    GTP_LUT6CARRY /* N26_4_2 */ #(
            .INIT(64'b1000000101111110100000010111111011111110100000001111111010000000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N26_4_2 (
            .COUT (_N50),
            .Z (N26[2]),
            .CIN (_N49),
            .I0 (duty[0]),
            .I1 (inc_dec_flag),
            .I2 (duty[1]),
            .I3 (duty[2]),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I2&I3&~CIN)|(I1&I3&~CIN)|(I0&I3&~CIN)|(I0&I1&I2&~CIN)|(I0&~I2&~I3&CIN)|(~I0&I2&~I3&CIN)|(I0&~I1&~I3&CIN)|(~I0&I1&~I3&CIN)|(~I0&~I1&~I2&I3&CIN)|(I0&I1&I2&I3) ;
	// CARRY = ((I2&I3)|(I1&I3)|(I0&I3)|(I0&I1&I2)) ? CIN : I5 ;

    GTP_LUT6CARRY /* N26_4_3 */ #(
            .INIT(64'b0110011001100110011001100110011010011001100110011001100110011001), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N26_4_3 (
            .COUT (_N51),
            .Z (N26[3]),
            .CIN (_N50),
            .I0 (inc_dec_flag),
            .I1 (duty[3]),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (duty[3]));
	// LUT = ~CIN^I1^I0 ;
	// CARRY = (~I1^I0) ? CIN : I5 ;

    GTP_LUT6CARRY /* N26_4_4 */ #(
            .INIT(64'b0110011001100110011001100110011010011001100110011001100110011001), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N26_4_4 (
            .COUT (_N52),
            .Z (N26[4]),
            .CIN (_N51),
            .I0 (inc_dec_flag),
            .I1 (duty[4]),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (duty[4]));
	// LUT = ~CIN^I1^I0 ;
	// CARRY = (~I1^I0) ? CIN : I5 ;

    GTP_LUT6CARRY /* N26_4_5 */ #(
            .INIT(64'b1100001111000011110000111100001100111100001111000011110000111100), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N26_4_5 (
            .COUT (_N53),
            .Z (N26[5]),
            .CIN (_N52),
            .I0 (),
            .I1 (duty[5]),
            .I2 (inc_dec_flag),
            .I3 (),
            .I4 (),
            .I5 (inc_dec_flag));
	// LUT = CIN^I2^I1 ;
	// CARRY = (I2^I1) ? CIN : I5 ;

    GTP_LUT6CARRY /* N26_4_6 */ #(
            .INIT(64'b1100001111000011110000111100001100111100001111000011110000111100), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N26_4_6 (
            .COUT (_N54),
            .Z (N26[6]),
            .CIN (_N53),
            .I0 (),
            .I1 (duty[6]),
            .I2 (inc_dec_flag),
            .I3 (),
            .I4 (),
            .I5 (inc_dec_flag));
	// LUT = CIN^I2^I1 ;
	// CARRY = (I2^I1) ? CIN : I5 ;

    GTP_LUT6CARRY /* N26_4_7 */ #(
            .INIT(64'b1100001111000011110000111100001100111100001111000011110000111100), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N26_4_7 (
            .COUT (_N55),
            .Z (N26[7]),
            .CIN (_N54),
            .I0 (),
            .I1 (duty[7]),
            .I2 (inc_dec_flag),
            .I3 (),
            .I4 (),
            .I5 (inc_dec_flag));
	// LUT = CIN^I2^I1 ;
	// CARRY = (I2^I1) ? CIN : I5 ;

    GTP_LUT6CARRY /* N26_4_8 */ #(
            .INIT(64'b1100001111000011110000111100001100111100001111000011110000111100), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N26_4_8 (
            .COUT (_N56),
            .Z (N26[8]),
            .CIN (_N55),
            .I0 (),
            .I1 (duty[8]),
            .I2 (inc_dec_flag),
            .I3 (),
            .I4 (),
            .I5 (inc_dec_flag));
	// LUT = CIN^I2^I1 ;
	// CARRY = (I2^I1) ? CIN : I5 ;

    GTP_LUT6CARRY /* N26_4_9 */ #(
            .INIT(64'b1100001111000011110000111100001100111100001111000011110000111100), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N26_4_9 (
            .COUT (_N57),
            .Z (N26[9]),
            .CIN (_N56),
            .I0 (),
            .I1 (duty[9]),
            .I2 (inc_dec_flag),
            .I3 (),
            .I4 (),
            .I5 (inc_dec_flag));
	// LUT = CIN^I2^I1 ;
	// CARRY = (I2^I1) ? CIN : I5 ;

    GTP_LUT6CARRY /* N26_4_10 */ #(
            .INIT(64'b1100001111000011110000111100001100111100001111000011110000111100), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N26_4_10 (
            .COUT (_N58),
            .Z (N26[10]),
            .CIN (_N57),
            .I0 (),
            .I1 (duty[10]),
            .I2 (inc_dec_flag),
            .I3 (),
            .I4 (),
            .I5 (inc_dec_flag));
	// LUT = CIN^I2^I1 ;
	// CARRY = (I2^I1) ? CIN : I5 ;

    GTP_LUT6CARRY /* N26_4_11 */ #(
            .INIT(64'b1100001111000011110000111100001100111100001111000011110000111100), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N26_4_11 (
            .COUT (_N59),
            .Z (N26[11]),
            .CIN (_N58),
            .I0 (),
            .I1 (duty[11]),
            .I2 (inc_dec_flag),
            .I3 (),
            .I4 (),
            .I5 (inc_dec_flag));
	// LUT = CIN^I2^I1 ;
	// CARRY = (I2^I1) ? CIN : I5 ;

    GTP_LUT6CARRY /* N26_4_12 */ #(
            .INIT(64'b1100001111000011110000111100001100111100001111000011110000111100), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N26_4_12 (
            .COUT (_N60),
            .Z (N26[12]),
            .CIN (_N59),
            .I0 (),
            .I1 (duty[12]),
            .I2 (inc_dec_flag),
            .I3 (),
            .I4 (),
            .I5 (inc_dec_flag));
	// LUT = CIN^I2^I1 ;
	// CARRY = (I2^I1) ? CIN : I5 ;

    GTP_LUT6CARRY /* N26_4_13 */ #(
            .INIT(64'b1100001111000011110000111100001100111100001111000011110000111100), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N26_4_13 (
            .COUT (_N61),
            .Z (N26[13]),
            .CIN (_N60),
            .I0 (),
            .I1 (duty[13]),
            .I2 (inc_dec_flag),
            .I3 (),
            .I4 (),
            .I5 (inc_dec_flag));
	// LUT = CIN^I2^I1 ;
	// CARRY = (I2^I1) ? CIN : I5 ;

    GTP_LUT6CARRY /* N26_4_14 */ #(
            .INIT(64'b1100001111000011110000111100001100111100001111000011110000111100), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N26_4_14 (
            .COUT (_N62),
            .Z (N26[14]),
            .CIN (_N61),
            .I0 (),
            .I1 (duty[14]),
            .I2 (inc_dec_flag),
            .I3 (),
            .I4 (),
            .I5 (inc_dec_flag));
	// LUT = CIN^I2^I1 ;
	// CARRY = (I2^I1) ? CIN : I5 ;

    GTP_LUT6CARRY /* N26_4_15 */ #(
            .INIT(64'b1100001111000011110000111100001100111100001111000011110000111100), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N26_4_15 (
            .COUT (),
            .Z (N26[15]),
            .CIN (_N62),
            .I0 (),
            .I1 (duty[15]),
            .I2 (inc_dec_flag),
            .I3 (),
            .I4 (),
            .I5 (inc_dec_flag));
	// LUT = CIN^I2^I1 ;
	// CARRY = (I2^I1) ? CIN : I5 ;

    GTP_LUT6CARRY /* \N40.lt_0  */ #(
            .INIT(64'b0010000011110010001000001111001000000000000000000000000000000000), 
            .I5_TO_CARRY("FALSE"), 
            .I5_TO_LUT("FALSE"))
        \N40.lt_0  (
            .COUT (\N40.co [0] ),
            .Z (),
            .CIN (),
            .I0 (pwm_cnt[0]),
            .I1 (duty[0]),
            .I2 (pwm_cnt[1]),
            .I3 (duty[1]),
            .I4 (),
            .I5 ());
	// LUT = (I2&~I3&CIN)|(I0&~I1&~I3&CIN)|(I0&~I1&I2&CIN) ;
	// CARRY = (1'b0) ? CIN : ((I2&~I3)|(I0&~I1&~I3)|(I0&~I1&I2)) ;
	// ../../../rtl/pwm.v:47

    GTP_LUT6CARRY /* \N40.lt_1  */ #(
            .INIT(64'b0010000011110010001000001111001010010000000010011001000000001001), 
            .I5_TO_CARRY("FALSE"), 
            .I5_TO_LUT("FALSE"))
        \N40.lt_1  (
            .COUT (\N40.co [2] ),
            .Z (),
            .CIN (\N40.co [0] ),
            .I0 (pwm_cnt[2]),
            .I1 (duty[2]),
            .I2 (pwm_cnt[3]),
            .I3 (duty[3]),
            .I4 (),
            .I5 ());
	// LUT = (~I0&~I1&~I2&~I3&~CIN)|(I0&I1&~I2&~I3&~CIN)|(~I0&~I1&I2&I3&~CIN)|(I0&I1&I2&I3&~CIN)|(I2&~I3&CIN)|(I0&~I1&~I3&CIN)|(I0&~I1&I2&CIN) ;
	// CARRY = ((~I0&~I1&~I2&~I3)|(I0&I1&~I2&~I3)|(~I0&~I1&I2&I3)|(I0&I1&I2&I3)) ? CIN : ((I2&~I3)|(I0&~I1&~I3)|(I0&~I1&I2)) ;
	// ../../../rtl/pwm.v:47

    GTP_LUT6CARRY /* \N40.lt_2  */ #(
            .INIT(64'b0010000011110010001000001111001010010000000010011001000000001001), 
            .I5_TO_CARRY("FALSE"), 
            .I5_TO_LUT("FALSE"))
        \N40.lt_2  (
            .COUT (\N40.co [4] ),
            .Z (),
            .CIN (\N40.co [2] ),
            .I0 (pwm_cnt[4]),
            .I1 (duty[4]),
            .I2 (pwm_cnt[5]),
            .I3 (duty[5]),
            .I4 (),
            .I5 ());
	// LUT = (~I0&~I1&~I2&~I3&~CIN)|(I0&I1&~I2&~I3&~CIN)|(~I0&~I1&I2&I3&~CIN)|(I0&I1&I2&I3&~CIN)|(I2&~I3&CIN)|(I0&~I1&~I3&CIN)|(I0&~I1&I2&CIN) ;
	// CARRY = ((~I0&~I1&~I2&~I3)|(I0&I1&~I2&~I3)|(~I0&~I1&I2&I3)|(I0&I1&I2&I3)) ? CIN : ((I2&~I3)|(I0&~I1&~I3)|(I0&~I1&I2)) ;
	// ../../../rtl/pwm.v:47

    GTP_LUT6CARRY /* \N40.lt_3  */ #(
            .INIT(64'b0010000011110010001000001111001010010000000010011001000000001001), 
            .I5_TO_CARRY("FALSE"), 
            .I5_TO_LUT("FALSE"))
        \N40.lt_3  (
            .COUT (\N40.co [6] ),
            .Z (),
            .CIN (\N40.co [4] ),
            .I0 (pwm_cnt[6]),
            .I1 (duty[6]),
            .I2 (pwm_cnt[7]),
            .I3 (duty[7]),
            .I4 (),
            .I5 ());
	// LUT = (~I0&~I1&~I2&~I3&~CIN)|(I0&I1&~I2&~I3&~CIN)|(~I0&~I1&I2&I3&~CIN)|(I0&I1&I2&I3&~CIN)|(I2&~I3&CIN)|(I0&~I1&~I3&CIN)|(I0&~I1&I2&CIN) ;
	// CARRY = ((~I0&~I1&~I2&~I3)|(I0&I1&~I2&~I3)|(~I0&~I1&I2&I3)|(I0&I1&I2&I3)) ? CIN : ((I2&~I3)|(I0&~I1&~I3)|(I0&~I1&I2)) ;
	// ../../../rtl/pwm.v:47

    GTP_LUT6CARRY /* \N40.lt_4  */ #(
            .INIT(64'b0010000011110010001000001111001010010000000010011001000000001001), 
            .I5_TO_CARRY("FALSE"), 
            .I5_TO_LUT("FALSE"))
        \N40.lt_4  (
            .COUT (\N40.co [8] ),
            .Z (),
            .CIN (\N40.co [6] ),
            .I0 (pwm_cnt[8]),
            .I1 (duty[8]),
            .I2 (pwm_cnt[9]),
            .I3 (duty[9]),
            .I4 (),
            .I5 ());
	// LUT = (~I0&~I1&~I2&~I3&~CIN)|(I0&I1&~I2&~I3&~CIN)|(~I0&~I1&I2&I3&~CIN)|(I0&I1&I2&I3&~CIN)|(I2&~I3&CIN)|(I0&~I1&~I3&CIN)|(I0&~I1&I2&CIN) ;
	// CARRY = ((~I0&~I1&~I2&~I3)|(I0&I1&~I2&~I3)|(~I0&~I1&I2&I3)|(I0&I1&I2&I3)) ? CIN : ((I2&~I3)|(I0&~I1&~I3)|(I0&~I1&I2)) ;
	// ../../../rtl/pwm.v:47

    GTP_LUT6CARRY /* \N40.lt_5  */ #(
            .INIT(64'b0010000011110010001000001111001010010000000010011001000000001001), 
            .I5_TO_CARRY("FALSE"), 
            .I5_TO_LUT("FALSE"))
        \N40.lt_5  (
            .COUT (\N40.co [10] ),
            .Z (),
            .CIN (\N40.co [8] ),
            .I0 (pwm_cnt[10]),
            .I1 (duty[10]),
            .I2 (pwm_cnt[11]),
            .I3 (duty[11]),
            .I4 (),
            .I5 ());
	// LUT = (~I0&~I1&~I2&~I3&~CIN)|(I0&I1&~I2&~I3&~CIN)|(~I0&~I1&I2&I3&~CIN)|(I0&I1&I2&I3&~CIN)|(I2&~I3&CIN)|(I0&~I1&~I3&CIN)|(I0&~I1&I2&CIN) ;
	// CARRY = ((~I0&~I1&~I2&~I3)|(I0&I1&~I2&~I3)|(~I0&~I1&I2&I3)|(I0&I1&I2&I3)) ? CIN : ((I2&~I3)|(I0&~I1&~I3)|(I0&~I1&I2)) ;
	// ../../../rtl/pwm.v:47

    GTP_LUT6CARRY /* \N40.lt_6  */ #(
            .INIT(64'b0010000011110010001000001111001010010000000010011001000000001001), 
            .I5_TO_CARRY("FALSE"), 
            .I5_TO_LUT("FALSE"))
        \N40.lt_6  (
            .COUT (\N40.co [12] ),
            .Z (),
            .CIN (\N40.co [10] ),
            .I0 (pwm_cnt[12]),
            .I1 (duty[12]),
            .I2 (pwm_cnt[13]),
            .I3 (duty[13]),
            .I4 (),
            .I5 ());
	// LUT = (~I0&~I1&~I2&~I3&~CIN)|(I0&I1&~I2&~I3&~CIN)|(~I0&~I1&I2&I3&~CIN)|(I0&I1&I2&I3&~CIN)|(I2&~I3&CIN)|(I0&~I1&~I3&CIN)|(I0&~I1&I2&CIN) ;
	// CARRY = ((~I0&~I1&~I2&~I3)|(I0&I1&~I2&~I3)|(~I0&~I1&I2&I3)|(I0&I1&I2&I3)) ? CIN : ((I2&~I3)|(I0&~I1&~I3)|(I0&~I1&I2)) ;
	// ../../../rtl/pwm.v:47

    GTP_LUT6CARRY /* \N40.lt_7  */ #(
            .INIT(64'b0010000011110010001000001111001010010000000010011001000000001001), 
            .I5_TO_CARRY("FALSE"), 
            .I5_TO_LUT("FALSE"))
        \N40.lt_7  (
            .COUT (nt_led),
            .Z (),
            .CIN (\N40.co [12] ),
            .I0 (pwm_cnt[14]),
            .I1 (duty[14]),
            .I2 (pwm_cnt[15]),
            .I3 (duty[15]),
            .I4 (),
            .I5 ());
	// LUT = (~I0&~I1&~I2&~I3&~CIN)|(I0&I1&~I2&~I3&~CIN)|(~I0&~I1&I2&I3&~CIN)|(I0&I1&I2&I3&~CIN)|(I2&~I3&CIN)|(I0&~I1&~I3&CIN)|(I0&~I1&I2&CIN) ;
	// CARRY = ((~I0&~I1&~I2&~I3)|(I0&I1&~I2&~I3)|(~I0&~I1&I2&I3)|(I0&I1&I2&I3)) ? CIN : ((I2&~I3)|(I0&~I1&~I3)|(I0&~I1&I2)) ;
	// ../../../rtl/pwm.v:47

    GTP_LUT6D /* N53_6 */ #(
            .INIT(64'b0000000000001000000000000000100000000000000011110000000000000000))
        N53_6 (
            .Z (_N138),
            .Z5 (_N21),
            .I0 (pwm_cnt[5]),
            .I1 (pwm_cnt[6]),
            .I2 (pwm_cnt[9]),
            .I3 (pwm_cnt[10]),
            .I4 (_N17),
            .I5 (1'b1));
	// LUT = I0&I1&~I2&~I3 ;
	// Z5 = ~I2&~I3&I4 ;

    GTP_LUT4 /* N53_9 */ #(
            .INIT(16'b0000000000000001))
        N53_9 (
            .Z (_N140),
            .I0 (pwm_cnt[3]),
            .I1 (pwm_cnt[7]),
            .I2 (pwm_cnt[12]),
            .I3 (pwm_cnt[15]));
	// LUT = ~I0&~I1&~I2&~I3 ;

    GTP_LUT5 /* N53_14 */ #(
            .INIT(32'b10000000000000000000000000000000))
        N53_14 (
            .Z (_N143),
            .I0 (pwm_cnt[2]),
            .I1 (pwm_cnt[4]),
            .I2 (pwm_cnt[8]),
            .I3 (pwm_cnt[11]),
            .I4 (_N140));
	// LUT = I0&I1&I2&I3&I4 ;

    GTP_LUT6 /* N53_15 */ #(
            .INIT(64'b1000000000000000000000000000000000000000000000000000000000000000))
        N53_15 (
            .Z (N53),
            .I0 (pwm_cnt[0]),
            .I1 (pwm_cnt[1]),
            .I2 (pwm_cnt[13]),
            .I3 (pwm_cnt[14]),
            .I4 (_N138),
            .I5 (_N143));
	// LUT = I0&I1&I2&I3&I4&I5 ;

    GTP_LUT4 /* N62_15 */ #(
            .INIT(16'b0000000000000001))
        N62_15 (
            .Z (_N113),
            .I0 (duty[1]),
            .I1 (duty[2]),
            .I2 (duty[7]),
            .I3 (duty[9]));
	// LUT = ~I0&~I1&~I2&~I3 ;

    GTP_LUT6D /* N62_17 */ #(
            .INIT(64'b0000000000000001000000000000000001010101010101010101010101010101))
        N62_17 (
            .Z (_N71),
            .Z5 (N54),
            .I0 (duty[0]),
            .I1 (duty[10]),
            .I2 (duty[12]),
            .I3 (duty[15]),
            .I4 (_N113),
            .I5 (1'b1));
	// LUT = ~I0&~I1&~I2&~I3&I4 ;
	// Z5 = ~I0 ;

    GTP_LUT6D /* N62_22 */ #(
            .INIT(64'b1000000000000000100000000000000000000000000000010000000000000001))
        N62_22 (
            .Z (_N128),
            .Z5 (_N120),
            .I0 (duty[3]),
            .I1 (duty[4]),
            .I2 (duty[5]),
            .I3 (duty[6]),
            .I4 (),
            .I5 (1'b1));
	// LUT = I0&I1&I2&I3 ;
	// Z5 = ~I0&~I1&~I2&~I3 ;

    GTP_LUT6D /* N62_23 */ #(
            .INIT(64'b1000000000000000100000000000000000000000000000010000000000000001))
        N62_23 (
            .Z (_N129),
            .Z5 (_N121),
            .I0 (duty[8]),
            .I1 (duty[11]),
            .I2 (duty[13]),
            .I3 (duty[14]),
            .I4 (),
            .I5 (1'b1));
	// LUT = I0&I1&I2&I3 ;
	// Z5 = ~I0&~I1&~I2&~I3 ;

    GTP_LUT6CARRY /* N82_0_1 */ #(
            .INIT(64'b0110000001100000011000000110000000000000000000000000000000000000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("TRUE"))
        N82_0_1 (
            .COUT (_N33),
            .Z (N73[1]),
            .CIN (),
            .I0 (pwm_cnt[0]),
            .I1 (pwm_cnt[1]),
            .I2 (N4),
            .I3 (),
            .I4 (),
            .I5 (1'b1));
	// LUT = (I0&~I1&I2)|(~I0&I1&I2) ;
	// CARRY = (1'b0) ? CIN : I5 ;
	// ../../../rtl/pwm.v:19

    GTP_LUT6CARRY /* N82_0_2 */ #(
            .INIT(64'b0111000010000000011100001000000010000000000000001000000000000000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N82_0_2 (
            .COUT (_N34),
            .Z (N73[2]),
            .CIN (_N33),
            .I0 (pwm_cnt[0]),
            .I1 (pwm_cnt[1]),
            .I2 (N4),
            .I3 (pwm_cnt[2]),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&I1&I2&I3&~CIN)|(I0&I1&I2&~I3&CIN)|(~I1&I2&I3&CIN)|(~I0&I2&I3&CIN) ;
	// CARRY = (I0&I1&I2&I3) ? CIN : I5 ;
	// ../../../rtl/pwm.v:19

    GTP_LUT6CARRY /* N82_0_3 */ #(
            .INIT(64'b0100010001000100010001000100010010001000100010001000100010001000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N82_0_3 (
            .COUT (_N35),
            .Z (N73[3]),
            .CIN (_N34),
            .I0 (pwm_cnt[3]),
            .I1 (N4),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&I1&~CIN)|(~I0&I1&CIN) ;
	// CARRY = (I0&I1) ? CIN : I5 ;
	// ../../../rtl/pwm.v:19

    GTP_LUT6CARRY /* N82_0_4 */ #(
            .INIT(64'b0100010001000100010001000100010010001000100010001000100010001000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N82_0_4 (
            .COUT (_N36),
            .Z (N73[4]),
            .CIN (_N35),
            .I0 (pwm_cnt[4]),
            .I1 (N4),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&I1&~CIN)|(~I0&I1&CIN) ;
	// CARRY = (I0&I1) ? CIN : I5 ;
	// ../../../rtl/pwm.v:19

    GTP_LUT6CARRY /* N82_0_5 */ #(
            .INIT(64'b0100010001000100010001000100010010001000100010001000100010001000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N82_0_5 (
            .COUT (_N37),
            .Z (N73[5]),
            .CIN (_N36),
            .I0 (pwm_cnt[5]),
            .I1 (N4),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&I1&~CIN)|(~I0&I1&CIN) ;
	// CARRY = (I0&I1) ? CIN : I5 ;
	// ../../../rtl/pwm.v:19

    GTP_LUT6CARRY /* N82_0_6 */ #(
            .INIT(64'b0100010001000100010001000100010010001000100010001000100010001000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N82_0_6 (
            .COUT (_N38),
            .Z (N73[6]),
            .CIN (_N37),
            .I0 (pwm_cnt[6]),
            .I1 (N4),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&I1&~CIN)|(~I0&I1&CIN) ;
	// CARRY = (I0&I1) ? CIN : I5 ;
	// ../../../rtl/pwm.v:19

    GTP_LUT6CARRY /* N82_0_7 */ #(
            .INIT(64'b0100010001000100010001000100010010001000100010001000100010001000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N82_0_7 (
            .COUT (_N39),
            .Z (N73[7]),
            .CIN (_N38),
            .I0 (pwm_cnt[7]),
            .I1 (N4),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&I1&~CIN)|(~I0&I1&CIN) ;
	// CARRY = (I0&I1) ? CIN : I5 ;
	// ../../../rtl/pwm.v:19

    GTP_LUT6CARRY /* N82_0_8 */ #(
            .INIT(64'b0100010001000100010001000100010010001000100010001000100010001000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N82_0_8 (
            .COUT (_N40),
            .Z (N73[8]),
            .CIN (_N39),
            .I0 (pwm_cnt[8]),
            .I1 (N4),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&I1&~CIN)|(~I0&I1&CIN) ;
	// CARRY = (I0&I1) ? CIN : I5 ;
	// ../../../rtl/pwm.v:19

    GTP_LUT6CARRY /* N82_0_9 */ #(
            .INIT(64'b0100010001000100010001000100010010001000100010001000100010001000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N82_0_9 (
            .COUT (_N41),
            .Z (N73[9]),
            .CIN (_N40),
            .I0 (pwm_cnt[9]),
            .I1 (N4),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&I1&~CIN)|(~I0&I1&CIN) ;
	// CARRY = (I0&I1) ? CIN : I5 ;
	// ../../../rtl/pwm.v:19

    GTP_LUT6CARRY /* N82_0_10 */ #(
            .INIT(64'b0100010001000100010001000100010010001000100010001000100010001000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N82_0_10 (
            .COUT (_N42),
            .Z (N73[10]),
            .CIN (_N41),
            .I0 (pwm_cnt[10]),
            .I1 (N4),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&I1&~CIN)|(~I0&I1&CIN) ;
	// CARRY = (I0&I1) ? CIN : I5 ;
	// ../../../rtl/pwm.v:19

    GTP_LUT6CARRY /* N82_0_11 */ #(
            .INIT(64'b0100010001000100010001000100010010001000100010001000100010001000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N82_0_11 (
            .COUT (_N43),
            .Z (N73[11]),
            .CIN (_N42),
            .I0 (pwm_cnt[11]),
            .I1 (N4),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&I1&~CIN)|(~I0&I1&CIN) ;
	// CARRY = (I0&I1) ? CIN : I5 ;
	// ../../../rtl/pwm.v:19

    GTP_LUT6CARRY /* N82_0_12 */ #(
            .INIT(64'b0100010001000100010001000100010010001000100010001000100010001000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N82_0_12 (
            .COUT (_N44),
            .Z (N73[12]),
            .CIN (_N43),
            .I0 (pwm_cnt[12]),
            .I1 (N4),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&I1&~CIN)|(~I0&I1&CIN) ;
	// CARRY = (I0&I1) ? CIN : I5 ;
	// ../../../rtl/pwm.v:19

    GTP_LUT6CARRY /* N82_0_13 */ #(
            .INIT(64'b0100010001000100010001000100010010001000100010001000100010001000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N82_0_13 (
            .COUT (_N45),
            .Z (N73[13]),
            .CIN (_N44),
            .I0 (pwm_cnt[13]),
            .I1 (N4),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&I1&~CIN)|(~I0&I1&CIN) ;
	// CARRY = (I0&I1) ? CIN : I5 ;
	// ../../../rtl/pwm.v:19

    GTP_LUT6CARRY /* N82_0_14 */ #(
            .INIT(64'b0100010001000100010001000100010010001000100010001000100010001000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N82_0_14 (
            .COUT (_N46),
            .Z (N73[14]),
            .CIN (_N45),
            .I0 (pwm_cnt[14]),
            .I1 (N4),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&I1&~CIN)|(~I0&I1&CIN) ;
	// CARRY = (I0&I1) ? CIN : I5 ;
	// ../../../rtl/pwm.v:19

    GTP_LUT6CARRY /* N82_0_15 */ #(
            .INIT(64'b1010101010101010101010101010101000000000000000000000000000000000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N82_0_15 (
            .COUT (),
            .Z (N73[15]),
            .CIN (_N46),
            .I0 (N4),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = I0&CIN ;
	// CARRY = (1'b0) ? CIN : I5 ;
	// ../../../rtl/pwm.v:19

    GTP_DFF_CE /* \duty[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \duty[0]  (
            .Q (duty[0]),
            .C (N0),
            .CE (N53),
            .CLK (nt_sysclk),
            .D (N54));
	// ../../../rtl/pwm.v:24

    GTP_DFF_CE /* \duty[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \duty[1]  (
            .Q (duty[1]),
            .C (N0),
            .CE (N53),
            .CLK (nt_sysclk),
            .D (N26[1]));
	// ../../../rtl/pwm.v:24

    GTP_DFF_CE /* \duty[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \duty[2]  (
            .Q (duty[2]),
            .C (N0),
            .CE (N53),
            .CLK (nt_sysclk),
            .D (N26[2]));
	// ../../../rtl/pwm.v:24

    GTP_DFF_CE /* \duty[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \duty[3]  (
            .Q (duty[3]),
            .C (N0),
            .CE (N53),
            .CLK (nt_sysclk),
            .D (N26[3]));
	// ../../../rtl/pwm.v:24

    GTP_DFF_CE /* \duty[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \duty[4]  (
            .Q (duty[4]),
            .C (N0),
            .CE (N53),
            .CLK (nt_sysclk),
            .D (N26[4]));
	// ../../../rtl/pwm.v:24

    GTP_DFF_CE /* \duty[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \duty[5]  (
            .Q (duty[5]),
            .C (N0),
            .CE (N53),
            .CLK (nt_sysclk),
            .D (N26[5]));
	// ../../../rtl/pwm.v:24

    GTP_DFF_CE /* \duty[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \duty[6]  (
            .Q (duty[6]),
            .C (N0),
            .CE (N53),
            .CLK (nt_sysclk),
            .D (N26[6]));
	// ../../../rtl/pwm.v:24

    GTP_DFF_CE /* \duty[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \duty[7]  (
            .Q (duty[7]),
            .C (N0),
            .CE (N53),
            .CLK (nt_sysclk),
            .D (N26[7]));
	// ../../../rtl/pwm.v:24

    GTP_DFF_CE /* \duty[8]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \duty[8]  (
            .Q (duty[8]),
            .C (N0),
            .CE (N53),
            .CLK (nt_sysclk),
            .D (N26[8]));
	// ../../../rtl/pwm.v:24

    GTP_DFF_CE /* \duty[9]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \duty[9]  (
            .Q (duty[9]),
            .C (N0),
            .CE (N53),
            .CLK (nt_sysclk),
            .D (N26[9]));
	// ../../../rtl/pwm.v:24

    GTP_DFF_CE /* \duty[10]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \duty[10]  (
            .Q (duty[10]),
            .C (N0),
            .CE (N53),
            .CLK (nt_sysclk),
            .D (N26[10]));
	// ../../../rtl/pwm.v:24

    GTP_DFF_CE /* \duty[11]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \duty[11]  (
            .Q (duty[11]),
            .C (N0),
            .CE (N53),
            .CLK (nt_sysclk),
            .D (N26[11]));
	// ../../../rtl/pwm.v:24

    GTP_DFF_CE /* \duty[12]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \duty[12]  (
            .Q (duty[12]),
            .C (N0),
            .CE (N53),
            .CLK (nt_sysclk),
            .D (N26[12]));
	// ../../../rtl/pwm.v:24

    GTP_DFF_CE /* \duty[13]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \duty[13]  (
            .Q (duty[13]),
            .C (N0),
            .CE (N53),
            .CLK (nt_sysclk),
            .D (N26[13]));
	// ../../../rtl/pwm.v:24

    GTP_DFF_CE /* \duty[14]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \duty[14]  (
            .Q (duty[14]),
            .C (N0),
            .CE (N53),
            .CLK (nt_sysclk),
            .D (N26[14]));
	// ../../../rtl/pwm.v:24

    GTP_DFF_CE /* \duty[15]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \duty[15]  (
            .Q (duty[15]),
            .C (N0),
            .CE (N53),
            .CLK (nt_sysclk),
            .D (N26[15]));
	// ../../../rtl/pwm.v:24

    GTP_DFF_C /* inc_dec_flag */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        inc_dec_flag_vname (
            .Q (inc_dec_flag),
            .C (N0),
            .CLK (nt_sysclk),
            .D (_N108));
    // defparam inc_dec_flag_vname.orig_name = inc_dec_flag;
	// ../../../rtl/pwm.v:36

    GTP_LUT6 /* inc_dec_flag_ce_mux */ #(
            .INIT(64'b1110111011101110001010101010101000101010101010100010101010101010))
        inc_dec_flag_ce_mux (
            .Z (_N108),
            .I0 (inc_dec_flag),
            .I1 (_N71),
            .I2 (_N120),
            .I3 (_N121),
            .I4 (_N128),
            .I5 (_N129));
	// LUT = (I0&~I3)|(I0&~I2)|(I0&~I1)|(I1&I4&I5) ;

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="A20", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_NONE="TRUE", PAP_IO_SLEW="SLOW" *)    GTP_OUTBUF /* led_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        led_obuf (
            .O (led),
            .I (nt_led));
	// ../../../rtl/pwm.v:4

    GTP_DFF_C /* \pwm_cnt[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \pwm_cnt[0]  (
            .Q (pwm_cnt[0]),
            .C (N0),
            .CLK (nt_sysclk),
            .D (N73[0]));
	// ../../../rtl/pwm.v:15

    GTP_DFF_C /* \pwm_cnt[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \pwm_cnt[1]  (
            .Q (pwm_cnt[1]),
            .C (N0),
            .CLK (nt_sysclk),
            .D (N73[1]));
	// ../../../rtl/pwm.v:15

    GTP_DFF_C /* \pwm_cnt[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \pwm_cnt[2]  (
            .Q (pwm_cnt[2]),
            .C (N0),
            .CLK (nt_sysclk),
            .D (N73[2]));
	// ../../../rtl/pwm.v:15

    GTP_DFF_C /* \pwm_cnt[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \pwm_cnt[3]  (
            .Q (pwm_cnt[3]),
            .C (N0),
            .CLK (nt_sysclk),
            .D (N73[3]));
	// ../../../rtl/pwm.v:15

    GTP_DFF_C /* \pwm_cnt[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \pwm_cnt[4]  (
            .Q (pwm_cnt[4]),
            .C (N0),
            .CLK (nt_sysclk),
            .D (N73[4]));
	// ../../../rtl/pwm.v:15

    GTP_DFF_C /* \pwm_cnt[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \pwm_cnt[5]  (
            .Q (pwm_cnt[5]),
            .C (N0),
            .CLK (nt_sysclk),
            .D (N73[5]));
	// ../../../rtl/pwm.v:15

    GTP_DFF_C /* \pwm_cnt[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \pwm_cnt[6]  (
            .Q (pwm_cnt[6]),
            .C (N0),
            .CLK (nt_sysclk),
            .D (N73[6]));
	// ../../../rtl/pwm.v:15

    GTP_DFF_C /* \pwm_cnt[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \pwm_cnt[7]  (
            .Q (pwm_cnt[7]),
            .C (N0),
            .CLK (nt_sysclk),
            .D (N73[7]));
	// ../../../rtl/pwm.v:15

    GTP_DFF_C /* \pwm_cnt[8]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \pwm_cnt[8]  (
            .Q (pwm_cnt[8]),
            .C (N0),
            .CLK (nt_sysclk),
            .D (N73[8]));
	// ../../../rtl/pwm.v:15

    GTP_DFF_C /* \pwm_cnt[9]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \pwm_cnt[9]  (
            .Q (pwm_cnt[9]),
            .C (N0),
            .CLK (nt_sysclk),
            .D (N73[9]));
	// ../../../rtl/pwm.v:15

    GTP_DFF_C /* \pwm_cnt[10]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \pwm_cnt[10]  (
            .Q (pwm_cnt[10]),
            .C (N0),
            .CLK (nt_sysclk),
            .D (N73[10]));
	// ../../../rtl/pwm.v:15

    GTP_DFF_C /* \pwm_cnt[11]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \pwm_cnt[11]  (
            .Q (pwm_cnt[11]),
            .C (N0),
            .CLK (nt_sysclk),
            .D (N73[11]));
	// ../../../rtl/pwm.v:15

    GTP_DFF_C /* \pwm_cnt[12]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \pwm_cnt[12]  (
            .Q (pwm_cnt[12]),
            .C (N0),
            .CLK (nt_sysclk),
            .D (N73[12]));
	// ../../../rtl/pwm.v:15

    GTP_DFF_C /* \pwm_cnt[13]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \pwm_cnt[13]  (
            .Q (pwm_cnt[13]),
            .C (N0),
            .CLK (nt_sysclk),
            .D (N73[13]));
	// ../../../rtl/pwm.v:15

    GTP_DFF_C /* \pwm_cnt[14]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \pwm_cnt[14]  (
            .Q (pwm_cnt[14]),
            .C (N0),
            .CLK (nt_sysclk),
            .D (N73[14]));
	// ../../../rtl/pwm.v:15

    GTP_DFF_C /* \pwm_cnt[15]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \pwm_cnt[15]  (
            .Q (pwm_cnt[15]),
            .C (N0),
            .CLK (nt_sysclk),
            .D (N73[15]));
	// ../../../rtl/pwm.v:15

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="C22", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_NONE="TRUE" *)    GTP_INBUF /* rstn_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        rstn_ibuf (
            .O (nt_rstn),
            .I (rstn));
	// ../../../rtl/pwm.v:3

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="D18", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_NONE="TRUE" *)    GTP_INBUF /* sysclk_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        sysclk_ibuf (
            .O (nt_sysclk),
            .I (sysclk));
	// ../../../rtl/pwm.v:2


endmodule

