//====== SYS  ====== 
IO_LOC  "clk"   V22;
IO_PORT "clk"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC  "rst_n" AA13;
//IO_PORT "rst_n" IO_TYPE=LVCMOS33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_PORT "rst_n" IO_TYPE=LVCMOS15 PULL_MODE=UP BANK_VCCIO=1.5;


//====== LEDS ====== 
IO_LOC  "led[0]"   T18;
IO_LOC  "led[1]"   R18;
IO_LOC  "led[2]"   R17;
IO_LOC  "led[3]"   P16;
IO_LOC  "led[4]"   U21;
IO_LOC  "led[5]"   T21;
IO_LOC  "led[6]"   R19;
IO_LOC  "led[7]"   P19;

IO_PORT "led[0]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[1]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[2]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[3]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[4]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[5]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[6]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_PORT "led[7]"   IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

//====== UART ====== 
//IO_LOC  "tx"           A15;
//IO_PORT "tx"           IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
//IO_LOC  "rx"           A16;
//IO_PORT "rx"           IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;
IO_LOC  "tx"           U15;
IO_PORT "tx"           IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "rx"           V14;
IO_PORT "rx"           IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;