//
// Generated (version 2022.2-SP6.4<build 146967>) at Fri May 16 19:36:09 2025
//

module baud_rate_gen
(
    input clk,
    input rst_n,
    output N0,
    output baud_en
);
    wire N20;
    wire [12:0] N22;
    wire [12:0] N24;
    wire _N15;
    wire _N16;
    wire _N17;
    wire _N18;
    wire _N19;
    wire _N20;
    wire _N21;
    wire _N22;
    wire _N23;
    wire _N24;
    wire _N25;
    wire _N50;
    wire _N52;
    wire [12:0] count;
    wire \count[0]_inv ;

    GTP_INV N0_vname (
            .Z (N0),
            .I (rst_n));
    // defparam N0_vname.orig_name = N0;

    GTP_LUT6CARRY /* N9_1_1 */ #(
            .INIT(64'b0110011001100110011001100110011000000000000000000000000000000000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("TRUE"))
        N9_1_1 (
            .COUT (_N15),
            .Z (N24[1]),
            .CIN (),
            .I0 (count[0]),
            .I1 (count[1]),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b1));
	// LUT = I1^I0 ;
	// CARRY = (1'b0) ? CIN : I5 ;
	// ../../../rtl/baud_rate_gen.v:27

    GTP_LUT6CARRY /* N9_1_2 */ #(
            .INIT(64'b0111100001111000011110000111100010000000100000001000000010000000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N9_1_2 (
            .COUT (_N16),
            .Z (N24[2]),
            .CIN (_N15),
            .I0 (count[0]),
            .I1 (count[1]),
            .I2 (count[2]),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&I1&I2&~CIN)|(I0&I1&~I2&CIN)|(~I1&I2&CIN)|(~I0&I2&CIN) ;
	// CARRY = (I0&I1&I2) ? CIN : I5 ;
	// ../../../rtl/baud_rate_gen.v:27

    GTP_LUT6CARRY /* N9_1_3 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N9_1_3 (
            .COUT (_N17),
            .Z (N24[3]),
            .CIN (_N16),
            .I0 (count[3]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/baud_rate_gen.v:27

    GTP_LUT6CARRY /* N9_1_4 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N9_1_4 (
            .COUT (_N18),
            .Z (N24[4]),
            .CIN (_N17),
            .I0 (count[4]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/baud_rate_gen.v:27

    GTP_LUT6CARRY /* N9_1_5 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N9_1_5 (
            .COUT (_N19),
            .Z (N24[5]),
            .CIN (_N18),
            .I0 (count[5]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/baud_rate_gen.v:27

    GTP_LUT6CARRY /* N9_1_6 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N9_1_6 (
            .COUT (_N20),
            .Z (N24[6]),
            .CIN (_N19),
            .I0 (count[6]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/baud_rate_gen.v:27

    GTP_LUT6CARRY /* N9_1_7 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N9_1_7 (
            .COUT (_N21),
            .Z (N24[7]),
            .CIN (_N20),
            .I0 (count[7]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/baud_rate_gen.v:27

    GTP_LUT6CARRY /* N9_1_8 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N9_1_8 (
            .COUT (_N22),
            .Z (N24[8]),
            .CIN (_N21),
            .I0 (count[8]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/baud_rate_gen.v:27

    GTP_LUT6CARRY /* N9_1_9 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N9_1_9 (
            .COUT (_N23),
            .Z (N24[9]),
            .CIN (_N22),
            .I0 (count[9]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/baud_rate_gen.v:27

    GTP_LUT6CARRY /* N9_1_10 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N9_1_10 (
            .COUT (_N24),
            .Z (N24[10]),
            .CIN (_N23),
            .I0 (count[10]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/baud_rate_gen.v:27

    GTP_LUT6CARRY /* N9_1_11 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N9_1_11 (
            .COUT (_N25),
            .Z (N24[11]),
            .CIN (_N24),
            .I0 (count[11]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/baud_rate_gen.v:27

    GTP_LUT6CARRY /* N9_1_12 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N9_1_12 (
            .COUT (),
            .Z (N24[12]),
            .CIN (_N25),
            .I0 (count[12]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/baud_rate_gen.v:27

    GTP_LUT4 /* N20_9 */ #(
            .INIT(16'b0000000000000001))
        N20_9 (
            .Z (_N50),
            .I0 (count[7]),
            .I1 (count[8]),
            .I2 (count[9]),
            .I3 (count[11]));
	// LUT = ~I0&~I1&~I2&~I3 ;

    GTP_LUT6D /* N20_11 */ #(
            .INIT(64'b0000001000000000000000000000000001010101010101010101010101010101))
        N20_11 (
            .Z (_N52),
            .Z5 (\count[0]_inv ),
            .I0 (count[0]),
            .I1 (count[3]),
            .I2 (count[5]),
            .I3 (count[10]),
            .I4 (count[12]),
            .I5 (1'b1));
	// LUT = I0&~I1&~I2&I3&I4 ;
	// Z5 = ~I0 ;

    GTP_LUT6 /* N20_13 */ #(
            .INIT(64'b1000000000000000000000000000000000000000000000000000000000000000))
        N20_13 (
            .Z (N20),
            .I0 (count[1]),
            .I1 (count[2]),
            .I2 (count[4]),
            .I3 (count[6]),
            .I4 (_N50),
            .I5 (_N52));
	// LUT = I0&I1&I2&I3&I4&I5 ;

    GTP_LUT6D /* \N22[0]  */ #(
            .INIT(64'b0100010001000100010001000100010001010000010100000101000001010000))
        \N22[0]  (
            .Z (N22[3]),
            .Z5 (N22[4]),
            .I0 (N20),
            .I1 (N24[3]),
            .I2 (N24[4]),
            .I3 (),
            .I4 (),
            .I5 (1'b1));
	// LUT = ~I0&I1 ;
	// Z5 = ~I0&I2 ;
	// ../../../rtl/baud_rate_gen.v:16

    GTP_LUT6D /* \N22[2]  */ #(
            .INIT(64'b0100010001000100010001000100010001010000010100000101000001010000))
        \N22[2]  (
            .Z (N22[6]),
            .Z5 (N22[10]),
            .I0 (N20),
            .I1 (N24[6]),
            .I2 (N24[10]),
            .I3 (),
            .I4 (),
            .I5 (1'b1));
	// LUT = ~I0&I1 ;
	// Z5 = ~I0&I2 ;
	// ../../../rtl/baud_rate_gen.v:16

    GTP_LUT2 /* \N22[4]  */ #(
            .INIT(4'b0100))
        \N22[4]  (
            .Z (N22[12]),
            .I0 (N20),
            .I1 (N24[12]));
	// LUT = ~I0&I1 ;
	// ../../../rtl/baud_rate_gen.v:16

    GTP_DFF_C /* baud_en */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        baud_en_vname (
            .Q (baud_en),
            .C (N0),
            .CLK (clk),
            .D (N20));
    // defparam baud_en_vname.orig_name = baud_en;
	// ../../../rtl/baud_rate_gen.v:16

    GTP_DFF_C /* \count[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \count[0]  (
            .Q (count[0]),
            .C (N0),
            .CLK (clk),
            .D (\count[0]_inv ));
	// ../../../rtl/baud_rate_gen.v:16

    GTP_DFF_C /* \count[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \count[1]  (
            .Q (count[1]),
            .C (N0),
            .CLK (clk),
            .D (N24[1]));
	// ../../../rtl/baud_rate_gen.v:16

    GTP_DFF_C /* \count[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \count[2]  (
            .Q (count[2]),
            .C (N0),
            .CLK (clk),
            .D (N24[2]));
	// ../../../rtl/baud_rate_gen.v:16

    GTP_DFF_C /* \count[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \count[3]  (
            .Q (count[3]),
            .C (N0),
            .CLK (clk),
            .D (N22[3]));
	// ../../../rtl/baud_rate_gen.v:16

    GTP_DFF_C /* \count[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \count[4]  (
            .Q (count[4]),
            .C (N0),
            .CLK (clk),
            .D (N22[4]));
	// ../../../rtl/baud_rate_gen.v:16

    GTP_DFF_C /* \count[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \count[5]  (
            .Q (count[5]),
            .C (N0),
            .CLK (clk),
            .D (N24[5]));
	// ../../../rtl/baud_rate_gen.v:16

    GTP_DFF_C /* \count[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \count[6]  (
            .Q (count[6]),
            .C (N0),
            .CLK (clk),
            .D (N22[6]));
	// ../../../rtl/baud_rate_gen.v:16

    GTP_DFF_C /* \count[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \count[7]  (
            .Q (count[7]),
            .C (N0),
            .CLK (clk),
            .D (N24[7]));
	// ../../../rtl/baud_rate_gen.v:16

    GTP_DFF_C /* \count[8]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \count[8]  (
            .Q (count[8]),
            .C (N0),
            .CLK (clk),
            .D (N24[8]));
	// ../../../rtl/baud_rate_gen.v:16

    GTP_DFF_C /* \count[9]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \count[9]  (
            .Q (count[9]),
            .C (N0),
            .CLK (clk),
            .D (N24[9]));
	// ../../../rtl/baud_rate_gen.v:16

    GTP_DFF_C /* \count[10]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \count[10]  (
            .Q (count[10]),
            .C (N0),
            .CLK (clk),
            .D (N22[10]));
	// ../../../rtl/baud_rate_gen.v:16

    GTP_DFF_C /* \count[11]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \count[11]  (
            .Q (count[11]),
            .C (N0),
            .CLK (clk),
            .D (N24[11]));
	// ../../../rtl/baud_rate_gen.v:16

    GTP_DFF_C /* \count[12]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \count[12]  (
            .Q (count[12]),
            .C (N0),
            .CLK (clk),
            .D (N22[12]));
	// ../../../rtl/baud_rate_gen.v:16


endmodule


module uart_rx
(
    input N0,
    input baud_en,
    input clk,
    input rx,
    output [7:0] rx_data,
    output data_valid
);
    wire N18;
    wire N90;
    wire [2:0] N116;
    wire N117;
    wire N131;
    wire N150;
    wire _N2;
    wire _N4;
    wire _N42;
    wire [2:0] bit_count;
    wire [7:0] shift_reg;
    wire [3:0] state_reg;

    GTP_LUT6D /* N18_mux2_1 */ #(
            .INIT(64'b0011111111111111001111111111111100100010001000100011001100110011))
        N18_mux2_1 (
            .Z (N18),
            .Z5 (N116[0]),
            .I0 (rx),
            .I1 (bit_count[0]),
            .I2 (bit_count[1]),
            .I3 (bit_count[2]),
            .I4 (state_reg[0]),
            .I5 (1'b1));
	// LUT = (~I3)|(~I2)|(~I1) ;
	// Z5 = (~I1&~I4)|(I0&~I1) ;

    GTP_LUT6D /* \N116_1[1]_1  */ #(
            .INIT(64'b0010100000101000001111000011110000101010100000000011111111000000))
        \N116_1[1]_1  (
            .Z (N116[1]),
            .Z5 (N116[2]),
            .I0 (rx),
            .I1 (bit_count[0]),
            .I2 (bit_count[1]),
            .I3 (bit_count[2]),
            .I4 (state_reg[0]),
            .I5 (1'b1));
	// LUT = (I1&~I2&~I4)|(~I1&I2&~I4)|(I0&I1&~I2)|(I0&~I1&I2) ;
	// Z5 = (I1&I2&~I3&~I4)|(~I2&I3&~I4)|(~I1&I3&~I4)|(I0&I1&I2&~I3)|(I0&~I2&I3)|(I0&~I1&I3) ;
	// ../../../rtl/uart_rx.v:31

    GTP_LUT6D /* N117 */ #(
            .INIT(64'b1010001010100000001000100000000000000010000010100010001010101010))
        N117_vname (
            .Z (N117),
            .Z5 (N90),
            .I0 (baud_en),
            .I1 (rx),
            .I2 (N18),
            .I3 (state_reg[0]),
            .I4 (state_reg[2]),
            .I5 (1'b1));
    // defparam N117_vname.orig_name = N117;
	// LUT = (I0&I2&I4)|(I0&~I1&I3) ;
	// Z5 = (I0&~I3&~I4)|(I0&~I1&~I4)|(I0&~I2&~I3)|(I0&~I1&~I2) ;
	// ../../../rtl/uart_rx.v:31

    GTP_LUT2 /* N131 */ #(
            .INIT(4'b1000))
        N131_vname (
            .Z (N131),
            .I0 (baud_en),
            .I1 (state_reg[2]));
    // defparam N131_vname.orig_name = N131;
	// LUT = I0&I1 ;
	// ../../../rtl/uart_rx.v:52

    GTP_LUT6D /* N150_3 */ #(
            .INIT(64'b1010000010100000000000000000000001000100111001000100010011001100))
        N150_3 (
            .Z (N150),
            .Z5 (_N42),
            .I0 (baud_en),
            .I1 (data_valid),
            .I2 (rx),
            .I3 (state_reg[0]),
            .I4 (state_reg[3]),
            .I5 (1'b1));
	// LUT = I0&I2&I4 ;
	// Z5 = (I1&~I3&~I4)|(I0&I2&~I3&I4)|(~I0&I1) ;

    GTP_DFF_CE /* \bit_count[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \bit_count[0]  (
            .Q (bit_count[0]),
            .C (N0),
            .CE (N117),
            .CLK (clk),
            .D (N116[0]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \bit_count[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \bit_count[1]  (
            .Q (bit_count[1]),
            .C (N0),
            .CE (N117),
            .CLK (clk),
            .D (N116[1]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \bit_count[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \bit_count[2]  (
            .Q (bit_count[2]),
            .C (N0),
            .CE (N117),
            .CLK (clk),
            .D (N116[2]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_C /* data_valid */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_valid_vname (
            .Q (data_valid),
            .C (N0),
            .CLK (clk),
            .D (_N42));
    // defparam data_valid_vname.orig_name = data_valid;
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \rx_data[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_data[0]  (
            .Q (rx_data[0]),
            .C (N0),
            .CE (N150),
            .CLK (clk),
            .D (shift_reg[0]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \rx_data[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_data[1]  (
            .Q (rx_data[1]),
            .C (N0),
            .CE (N150),
            .CLK (clk),
            .D (shift_reg[1]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \rx_data[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_data[2]  (
            .Q (rx_data[2]),
            .C (N0),
            .CE (N150),
            .CLK (clk),
            .D (shift_reg[2]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \rx_data[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_data[3]  (
            .Q (rx_data[3]),
            .C (N0),
            .CE (N150),
            .CLK (clk),
            .D (shift_reg[3]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \rx_data[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_data[4]  (
            .Q (rx_data[4]),
            .C (N0),
            .CE (N150),
            .CLK (clk),
            .D (shift_reg[4]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \rx_data[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_data[5]  (
            .Q (rx_data[5]),
            .C (N0),
            .CE (N150),
            .CLK (clk),
            .D (shift_reg[5]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \rx_data[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_data[6]  (
            .Q (rx_data[6]),
            .C (N0),
            .CE (N150),
            .CLK (clk),
            .D (shift_reg[6]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \rx_data[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \rx_data[7]  (
            .Q (rx_data[7]),
            .C (N0),
            .CE (N150),
            .CLK (clk),
            .D (shift_reg[7]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \shift_reg[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \shift_reg[0]  (
            .Q (shift_reg[0]),
            .C (N0),
            .CE (N131),
            .CLK (clk),
            .D (shift_reg[1]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \shift_reg[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \shift_reg[1]  (
            .Q (shift_reg[1]),
            .C (N0),
            .CE (N131),
            .CLK (clk),
            .D (shift_reg[2]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \shift_reg[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \shift_reg[2]  (
            .Q (shift_reg[2]),
            .C (N0),
            .CE (N131),
            .CLK (clk),
            .D (shift_reg[3]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \shift_reg[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \shift_reg[3]  (
            .Q (shift_reg[3]),
            .C (N0),
            .CE (N131),
            .CLK (clk),
            .D (shift_reg[4]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \shift_reg[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \shift_reg[4]  (
            .Q (shift_reg[4]),
            .C (N0),
            .CE (N131),
            .CLK (clk),
            .D (shift_reg[5]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \shift_reg[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \shift_reg[5]  (
            .Q (shift_reg[5]),
            .C (N0),
            .CE (N131),
            .CLK (clk),
            .D (shift_reg[6]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \shift_reg[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \shift_reg[6]  (
            .Q (shift_reg[6]),
            .C (N0),
            .CE (N131),
            .CLK (clk),
            .D (shift_reg[7]));
	// ../../../rtl/uart_rx.v:22

    GTP_DFF_CE /* \shift_reg[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \shift_reg[7]  (
            .Q (shift_reg[7]),
            .C (N0),
            .CE (N131),
            .CLK (clk),
            .D (rx));
	// ../../../rtl/uart_rx.v:22

    GTP_LUT6D /* \state_fsm[2:0]_5  */ #(
            .INIT(64'b0100010001000100010001000100010011111000111110001111100011111000))
        \state_fsm[2:0]_5  (
            .Z (_N4),
            .Z5 (_N2),
            .I0 (rx),
            .I1 (state_reg[1]),
            .I2 (state_reg[3]),
            .I3 (),
            .I4 (),
            .I5 (1'b1));
	// LUT = ~I0&I1 ;
	// Z5 = (I2)|(I0&I1) ;
	// ../../../rtl/uart_rx.v:22

(* syn_encoding="onehot" *)    GTP_DFF_PE /* \state_reg[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b1))
        \state_reg[0]  (
            .Q (state_reg[0]),
            .CE (N90),
            .CLK (clk),
            .D (_N2),
            .P (N0));
	// ../../../rtl/uart_rx.v:22

(* syn_encoding="onehot" *)    GTP_DFF_CE /* \state_reg[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \state_reg[1]  (
            .Q (state_reg[1]),
            .C (N0),
            .CE (N90),
            .CLK (clk),
            .D (state_reg[0]));
	// ../../../rtl/uart_rx.v:22

(* syn_encoding="onehot" *)    GTP_DFF_CE /* \state_reg[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \state_reg[2]  (
            .Q (state_reg[2]),
            .C (N0),
            .CE (N90),
            .CLK (clk),
            .D (_N4));
	// ../../../rtl/uart_rx.v:22

(* syn_encoding="onehot" *)    GTP_DFF_CE /* \state_reg[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \state_reg[3]  (
            .Q (state_reg[3]),
            .C (N0),
            .CE (N90),
            .CLK (clk),
            .D (state_reg[2]));
	// ../../../rtl/uart_rx.v:22


endmodule


module uart
(
    input clk,
    input rstn,
    input rx,
    output [7:0] led,
    output tx
);
	// SDC constraint : (object clk) (id 1000) (clock clk) (2 : E:/JiChuang_2025/PDS_Project/axi_udp_ddr/pangu_-remote_-lab/examination/13_uart/rtl/IO.fdc)
(* PAP_MARK_DEBUG="true" *)    wire baud_en;
    wire \baud_rate_gen_inst/N0 ;
(* PAP_MARK_DEBUG="true" *)    wire data_valid;
    wire nt_clk;
    wire [7:0] nt_led;
    wire nt_rstn;
    wire nt_rx;

    GTP_GRS GRS_INST (
            .GRS_N (1'b1));

    baud_rate_gen baud_rate_gen_inst (
            .N0 (\baud_rate_gen_inst/N0 ),
            .baud_en (baud_en),
            .clk (nt_clk),
            .rst_n (nt_rstn));
	// ../../../rtl/uart.v:14

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="R3", PAP_IO_VCCIO="1.5", PAP_IO_STANDARD="LVCMOS15", PAP_IO_PULLUP="TRUE" *)    GTP_INBUF /* clk_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        clk_ibuf (
            .O (nt_clk),
            .I (clk));
	// ../../../rtl/uart.v:2

    GTP_OUTBUF /* \led_obuf[0]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[0]  (
            .O (led[0]),
            .I (nt_led[0]));
	// ../../../rtl/uart.v:6

    GTP_OUTBUF /* \led_obuf[1]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[1]  (
            .O (led[1]),
            .I (nt_led[1]));
	// ../../../rtl/uart.v:6

    GTP_OUTBUF /* \led_obuf[2]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[2]  (
            .O (led[2]),
            .I (nt_led[2]));
	// ../../../rtl/uart.v:6

    GTP_OUTBUF /* \led_obuf[3]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[3]  (
            .O (led[3]),
            .I (nt_led[3]));
	// ../../../rtl/uart.v:6

    GTP_OUTBUF /* \led_obuf[4]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[4]  (
            .O (led[4]),
            .I (nt_led[4]));
	// ../../../rtl/uart.v:6

    GTP_OUTBUF /* \led_obuf[5]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[5]  (
            .O (led[5]),
            .I (nt_led[5]));
	// ../../../rtl/uart.v:6

    GTP_OUTBUF /* \led_obuf[6]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[6]  (
            .O (led[6]),
            .I (nt_led[6]));
	// ../../../rtl/uart.v:6

    GTP_OUTBUF /* \led_obuf[7]  */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        \led_obuf[7]  (
            .O (led[7]),
            .I (nt_led[7]));
	// ../../../rtl/uart.v:6

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="G25", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_NONE="TRUE" *)    GTP_INBUF /* rstn_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        rstn_ibuf (
            .O (nt_rstn),
            .I (rstn));
	// ../../../rtl/uart.v:3

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="L25", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_UNUSED="TRUE" *)    GTP_INBUF /* rx_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        rx_ibuf (
            .O (nt_rx),
            .I (rx));
	// ../../../rtl/uart.v:4

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="L24", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="4", PAP_IO_UNUSED="TRUE", PAP_IO_SLEW="FAST" *)    GTP_OUTBUFT /* tx */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        tx_vname (
            .O (tx),
            .I (1'b0),
            .T (1'b1));
    // defparam tx_vname.orig_name = tx;
	// ../../../rtl/uart.v:5

    uart_rx uart_rx_inst (
            .rx_data (nt_led),
            .data_valid (data_valid),
            .N0 (\baud_rate_gen_inst/N0 ),
            .baud_en (baud_en),
            .clk (nt_clk),
            .rx (nt_rx));
	// ../../../rtl/uart.v:19


endmodule

