//
// Generated (version 2022.2<build 117120>) at Fri Sep  1 09:29:10 2023
//

module key_filter
(
    input key_in,
    input sys_clk,
    input sys_rst_n,
    output key_flag
);
	// SDC constraint : (object sys_clk) (id 1000) (clock key_filter|sys_clk) (inferred)
    wire [19:0] N11;
    wire N20;
    wire N32;
    wire [19:0] N37;
    wire _N1;
    wire _N2;
    wire _N3;
    wire _N4;
    wire _N5;
    wire _N6;
    wire _N7;
    wire _N8;
    wire _N9;
    wire _N10;
    wire _N11;
    wire _N12;
    wire _N13;
    wire _N14;
    wire _N15;
    wire _N16;
    wire _N17;
    wire _N18;
    wire _N85;
    wire _N90;
    wire _N95;
    wire _N98;
    wire [19:0] cnt_20ms;
    wire nt_key_flag;
    wire nt_key_in;
    wire nt_sys_clk;
    wire nt_sys_rst_n;

    GTP_GRS GRS_INST (
            .GRS_N (1'b1));

    GTP_LUT6CARRY /* N11_0_1 */ #(
            .INIT(64'b0110011001100110011001100110011000000000000000000000000000000000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("TRUE"))
        N11_0_1 (
            .COUT (_N1),
            .Z (N11[1]),
            .CIN (),
            .I0 (cnt_20ms[0]),
            .I1 (cnt_20ms[1]),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b1));
	// LUT = I1^I0 ;
	// CARRY = (1'b0) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_2 */ #(
            .INIT(64'b0111100001111000011110000111100010000000100000001000000010000000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_2 (
            .COUT (_N2),
            .Z (N11[2]),
            .CIN (_N1),
            .I0 (cnt_20ms[0]),
            .I1 (cnt_20ms[1]),
            .I2 (cnt_20ms[2]),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&I1&I2&~CIN)|(I0&I1&~I2&CIN)|(~I1&I2&CIN)|(~I0&I2&CIN) ;
	// CARRY = (I0&I1&I2) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_3 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_3 (
            .COUT (_N3),
            .Z (N11[3]),
            .CIN (_N2),
            .I0 (cnt_20ms[3]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_4 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_4 (
            .COUT (_N4),
            .Z (N11[4]),
            .CIN (_N3),
            .I0 (cnt_20ms[4]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_5 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_5 (
            .COUT (_N5),
            .Z (N11[5]),
            .CIN (_N4),
            .I0 (cnt_20ms[5]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_6 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_6 (
            .COUT (_N6),
            .Z (N11[6]),
            .CIN (_N5),
            .I0 (cnt_20ms[6]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_7 */ #(
            .INIT(64'b0001000100010001000100010001000100100010001000100010001000100010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_7 (
            .COUT (_N7),
            .Z (N37[7]),
            .CIN (_N6),
            .I0 (cnt_20ms[7]),
            .I1 (nt_key_in),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&~I1&~CIN)|(~I0&~I1&CIN) ;
	// CARRY = (I0&~I1) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_8 */ #(
            .INIT(64'b0001000100010001000100010001000100100010001000100010001000100010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_8 (
            .COUT (_N8),
            .Z (N37[8]),
            .CIN (_N7),
            .I0 (cnt_20ms[8]),
            .I1 (nt_key_in),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&~I1&~CIN)|(~I0&~I1&CIN) ;
	// CARRY = (I0&~I1) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_9 */ #(
            .INIT(64'b0001000100010001000100010001000100100010001000100010001000100010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_9 (
            .COUT (_N9),
            .Z (N37[9]),
            .CIN (_N8),
            .I0 (cnt_20ms[9]),
            .I1 (nt_key_in),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&~I1&~CIN)|(~I0&~I1&CIN) ;
	// CARRY = (I0&~I1) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_10 */ #(
            .INIT(64'b0001000100010001000100010001000100100010001000100010001000100010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_10 (
            .COUT (_N10),
            .Z (N37[10]),
            .CIN (_N9),
            .I0 (cnt_20ms[10]),
            .I1 (nt_key_in),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&~I1&~CIN)|(~I0&~I1&CIN) ;
	// CARRY = (I0&~I1) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_11 */ #(
            .INIT(64'b0001000100010001000100010001000100100010001000100010001000100010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_11 (
            .COUT (_N11),
            .Z (N37[11]),
            .CIN (_N10),
            .I0 (cnt_20ms[11]),
            .I1 (nt_key_in),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&~I1&~CIN)|(~I0&~I1&CIN) ;
	// CARRY = (I0&~I1) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_12 */ #(
            .INIT(64'b0001000100010001000100010001000100100010001000100010001000100010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_12 (
            .COUT (_N12),
            .Z (N37[12]),
            .CIN (_N11),
            .I0 (cnt_20ms[12]),
            .I1 (nt_key_in),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&~I1&~CIN)|(~I0&~I1&CIN) ;
	// CARRY = (I0&~I1) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_13 */ #(
            .INIT(64'b0001000100010001000100010001000100100010001000100010001000100010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_13 (
            .COUT (_N13),
            .Z (N37[13]),
            .CIN (_N12),
            .I0 (cnt_20ms[13]),
            .I1 (nt_key_in),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&~I1&~CIN)|(~I0&~I1&CIN) ;
	// CARRY = (I0&~I1) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_14 */ #(
            .INIT(64'b0001000100010001000100010001000100100010001000100010001000100010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_14 (
            .COUT (_N14),
            .Z (N37[14]),
            .CIN (_N13),
            .I0 (cnt_20ms[14]),
            .I1 (nt_key_in),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&~I1&~CIN)|(~I0&~I1&CIN) ;
	// CARRY = (I0&~I1) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_15 */ #(
            .INIT(64'b0001000100010001000100010001000100100010001000100010001000100010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_15 (
            .COUT (_N15),
            .Z (N37[15]),
            .CIN (_N14),
            .I0 (cnt_20ms[15]),
            .I1 (nt_key_in),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&~I1&~CIN)|(~I0&~I1&CIN) ;
	// CARRY = (I0&~I1) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_16 */ #(
            .INIT(64'b0001000100010001000100010001000100100010001000100010001000100010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_16 (
            .COUT (_N16),
            .Z (N37[16]),
            .CIN (_N15),
            .I0 (cnt_20ms[16]),
            .I1 (nt_key_in),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&~I1&~CIN)|(~I0&~I1&CIN) ;
	// CARRY = (I0&~I1) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_17 */ #(
            .INIT(64'b0001000100010001000100010001000100100010001000100010001000100010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_17 (
            .COUT (_N17),
            .Z (N37[17]),
            .CIN (_N16),
            .I0 (cnt_20ms[17]),
            .I1 (nt_key_in),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&~I1&~CIN)|(~I0&~I1&CIN) ;
	// CARRY = (I0&~I1) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_18 */ #(
            .INIT(64'b0001000100010001000100010001000100100010001000100010001000100010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_18 (
            .COUT (_N18),
            .Z (N37[18]),
            .CIN (_N17),
            .I0 (cnt_20ms[18]),
            .I1 (nt_key_in),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&~I1&~CIN)|(~I0&~I1&CIN) ;
	// CARRY = (I0&~I1) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_LUT6CARRY /* N11_0_19 */ #(
            .INIT(64'b0001000100010001000100010001000100100010001000100010001000100010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N11_0_19 (
            .COUT (),
            .Z (N37[19]),
            .CIN (_N18),
            .I0 (cnt_20ms[19]),
            .I1 (nt_key_in),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&~I1&~CIN)|(~I0&~I1&CIN) ;
	// CARRY = (I0&~I1) ? CIN : I5 ;
	// ../../rtl/key_filter.v:43

    GTP_INV N20_vname (
            .Z (N20),
            .I (nt_sys_rst_n));
    // defparam N20_vname.orig_name = N20;

    GTP_LUT4 /* N32_20 */ #(
            .INIT(16'b0000000000000001))
        N32_20 (
            .Z (_N85),
            .I0 (cnt_20ms[6]),
            .I1 (cnt_20ms[7]),
            .I2 (cnt_20ms[8]),
            .I3 (cnt_20ms[10]));
	// LUT = ~I0&~I1&~I2&~I3 ;

    GTP_LUT6 /* N32_25 */ #(
            .INIT(64'b0000000000000000000000000000000000000000000000000000000000001000))
        N32_25 (
            .Z (_N90),
            .I0 (cnt_20ms[1]),
            .I1 (cnt_20ms[2]),
            .I2 (cnt_20ms[11]),
            .I3 (cnt_20ms[12]),
            .I4 (cnt_20ms[13]),
            .I5 (cnt_20ms[15]));
	// LUT = I0&I1&~I2&~I3&~I4&~I5 ;

    GTP_LUT6 /* N32_30 */ #(
            .INIT(64'b1000000000000000000000000000000000000000000000000000000000000000))
        N32_30 (
            .Z (_N95),
            .I0 (cnt_20ms[3]),
            .I1 (cnt_20ms[4]),
            .I2 (cnt_20ms[5]),
            .I3 (cnt_20ms[9]),
            .I4 (cnt_20ms[14]),
            .I5 (cnt_20ms[16]));
	// LUT = I0&I1&I2&I3&I4&I5 ;

    GTP_LUT4 /* N32_33 */ #(
            .INIT(16'b1000000000000000))
        N32_33 (
            .Z (_N98),
            .I0 (cnt_20ms[17]),
            .I1 (cnt_20ms[18]),
            .I2 (cnt_20ms[19]),
            .I3 (_N85));
	// LUT = I0&I1&I2&I3 ;

    GTP_LUT6D /* \N37_5[0]_1  */ #(
            .INIT(64'b0101000100010001000100010001000100110000000000000000000000000000))
        \N37_5[0]_1  (
            .Z (N37[0]),
            .Z5 (N32),
            .I0 (nt_key_in),
            .I1 (cnt_20ms[0]),
            .I2 (_N90),
            .I3 (_N95),
            .I4 (_N98),
            .I5 (1'b1));
	// LUT = (~I0&I2&I3&I4)|(~I0&~I1) ;
	// Z5 = ~I1&I2&I3&I4 ;

    GTP_LUT6 /* \N37_5[1]_1  */ #(
            .INIT(64'b0101010001000100010001000100010001000100010001000100010001000100))
        \N37_5[1]_1  (
            .Z (N37[1]),
            .I0 (nt_key_in),
            .I1 (N11[1]),
            .I2 (cnt_20ms[0]),
            .I3 (_N90),
            .I4 (_N95),
            .I5 (_N98));
	// LUT = (~I0&I1)|(~I0&I2&I3&I4&I5) ;

    GTP_LUT6 /* \N37_5[2]_1  */ #(
            .INIT(64'b0101010001000100010001000100010001000100010001000100010001000100))
        \N37_5[2]_1  (
            .Z (N37[2]),
            .I0 (nt_key_in),
            .I1 (N11[2]),
            .I2 (cnt_20ms[0]),
            .I3 (_N90),
            .I4 (_N95),
            .I5 (_N98));
	// LUT = (~I0&I1)|(~I0&I2&I3&I4&I5) ;

    GTP_LUT6 /* \N37_5[3]_1  */ #(
            .INIT(64'b0101010001000100010001000100010001000100010001000100010001000100))
        \N37_5[3]_1  (
            .Z (N37[3]),
            .I0 (nt_key_in),
            .I1 (N11[3]),
            .I2 (cnt_20ms[0]),
            .I3 (_N90),
            .I4 (_N95),
            .I5 (_N98));
	// LUT = (~I0&I1)|(~I0&I2&I3&I4&I5) ;

    GTP_LUT6 /* \N37_5[4]_1  */ #(
            .INIT(64'b0101010001000100010001000100010001000100010001000100010001000100))
        \N37_5[4]_1  (
            .Z (N37[4]),
            .I0 (nt_key_in),
            .I1 (N11[4]),
            .I2 (cnt_20ms[0]),
            .I3 (_N90),
            .I4 (_N95),
            .I5 (_N98));
	// LUT = (~I0&I1)|(~I0&I2&I3&I4&I5) ;

    GTP_LUT6 /* \N37_5[5]_1  */ #(
            .INIT(64'b0101010001000100010001000100010001000100010001000100010001000100))
        \N37_5[5]_1  (
            .Z (N37[5]),
            .I0 (nt_key_in),
            .I1 (N11[5]),
            .I2 (cnt_20ms[0]),
            .I3 (_N90),
            .I4 (_N95),
            .I5 (_N98));
	// LUT = (~I0&I1)|(~I0&I2&I3&I4&I5) ;

    GTP_LUT6 /* \N37_5[6]_6  */ #(
            .INIT(64'b0000010001000100010001000100010001000100010001000100010001000100))
        \N37_5[6]_6  (
            .Z (N37[6]),
            .I0 (nt_key_in),
            .I1 (N11[6]),
            .I2 (cnt_20ms[0]),
            .I3 (_N90),
            .I4 (_N95),
            .I5 (_N98));
	// LUT = (~I0&I1&~I5)|(~I0&I1&~I4)|(~I0&I1&~I3)|(~I0&I1&~I2) ;

    GTP_DFF_C /* \cnt_20ms[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[0]  (
            .Q (cnt_20ms[0]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[0]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[1]  (
            .Q (cnt_20ms[1]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[1]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[2]  (
            .Q (cnt_20ms[2]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[2]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[3]  (
            .Q (cnt_20ms[3]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[3]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[4]  (
            .Q (cnt_20ms[4]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[4]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[5]  (
            .Q (cnt_20ms[5]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[5]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[6]  (
            .Q (cnt_20ms[6]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[6]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[7]  (
            .Q (cnt_20ms[7]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[7]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[8]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[8]  (
            .Q (cnt_20ms[8]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[8]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[9]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[9]  (
            .Q (cnt_20ms[9]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[9]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[10]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[10]  (
            .Q (cnt_20ms[10]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[10]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[11]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[11]  (
            .Q (cnt_20ms[11]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[11]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[12]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[12]  (
            .Q (cnt_20ms[12]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[12]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[13]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[13]  (
            .Q (cnt_20ms[13]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[13]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[14]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[14]  (
            .Q (cnt_20ms[14]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[14]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[15]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[15]  (
            .Q (cnt_20ms[15]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[15]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[16]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[16]  (
            .Q (cnt_20ms[16]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[16]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[17]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[17]  (
            .Q (cnt_20ms[17]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[17]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[18]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[18]  (
            .Q (cnt_20ms[18]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[18]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* \cnt_20ms[19]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_20ms[19]  (
            .Q (cnt_20ms[19]),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N37[19]));
	// ../../rtl/key_filter.v:35

    GTP_DFF_C /* key_flag */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        key_flag_vname (
            .Q (nt_key_flag),
            .C (N20),
            .CLK (nt_sys_clk),
            .D (N32));
    // defparam key_flag_vname.orig_name = key_flag;
	// ../../rtl/key_filter.v:47

    GTP_OUTBUF /* key_flag_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        key_flag_obuf (
            .O (key_flag),
            .I (nt_key_flag));
	// ../../rtl/key_filter.v:20

    GTP_INBUF /* key_in_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        key_in_ibuf (
            .O (nt_key_in),
            .I (key_in));
	// ../../rtl/key_filter.v:18

    GTP_INBUF /* sys_clk_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        sys_clk_ibuf (
            .O (nt_sys_clk),
            .I (sys_clk));
	// ../../rtl/key_filter.v:16

    GTP_INBUF /* sys_rst_n_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        sys_rst_n_ibuf (
            .O (nt_sys_rst_n),
            .I (sys_rst_n));
	// ../../rtl/key_filter.v:17


endmodule

