//
// Generated (version 2022.2-SP6.4<build 146967>) at Wed Aug 20 05:35:14 2025
//

module hc595_ctrl
(
    input [4:0] sel,
    input _N403,
    input _N404,
    input _N405,
    input _N406,
    input _N407,
    input _N408,
    input _N409,
    input _N410,
    input _N411,
    input _N412,
    input _N413,
    input _N414,
    input _N415,
    input _N416,
    input _N417,
    input _N418,
    input _N419,
    input _N420,
    input _N421,
    input _N422,
    input _N423,
    input sys_clk,
    input sys_rst_n,
    output N61_1,
    output rck,
    output sck,
    output ser
);
    wire [7:0] N1;
    wire [1:0] N14;
    wire N23;
    wire [3:0] N30;
    wire N58;
    wire N62;
    wire N70;
    wire N133;
    wire N134;
    wire N136;
    wire N137;
    wire N139;
    wire N140;
    wire N142;
    wire N143;
    wire N145;
    wire N146;
    wire N148;
    wire N149;
    wire N151;
    wire N152;
    wire N157;
    wire N158;
    wire N160;
    wire N161;
    wire N163;
    wire N164;
    wire N166;
    wire N167;
    wire N169;
    wire N170;
    wire _N69;
    wire _N70;
    wire _N71;
    wire _N72;
    wire _N74;
    wire _N76;
    wire _N77;
    wire _N78;
    wire _N80;
    wire _N367;
    wire _N368;
    wire _N369;
    wire _N370;
    wire _N371;
    wire _N372;
    wire _N373;
    wire _N374;
    wire _N375;
    wire _N376;
    wire _N377;
    wire _N378;
    wire _N379;
    wire _N380;
    wire _N381;
    wire _N382;
    wire _N383;
    wire _N384;
    wire _N385;
    wire _N386;
    wire _N387;
    wire _N388;
    wire _N389;
    wire _N390;
    wire _N391;
    wire _N392;
    wire _N393;
    wire _N394;
    wire _N395;
    wire _N396;
    wire _N397;
    wire _N398;
    wire _N399;
    wire _N400;
    wire _N401;
    wire _N402;
    wire [1:0] cnt_4;
    wire [3:0] cnt_bit;
    wire [15:0] data;

    GTP_LUT3 /* \N1[0]  */ #(
            .INIT(8'b00011101))
        \N1[0]  (
            .Z (N1[0]),
            .I0 (_N409),
            .I1 (_N410),
            .I2 (_N411));
	// LUT = (I1&~I2)|(~I0&~I1) ;

    GTP_LUT3 /* \N1[1]  */ #(
            .INIT(8'b00011101))
        \N1[1]  (
            .Z (N1[1]),
            .I0 (_N403),
            .I1 (_N404),
            .I2 (_N405));
	// LUT = (I1&~I2)|(~I0&~I1) ;

    GTP_LUT3 /* \N1[2]  */ #(
            .INIT(8'b00011101))
        \N1[2]  (
            .Z (N1[2]),
            .I0 (_N406),
            .I1 (_N407),
            .I2 (_N408));
	// LUT = (I1&~I2)|(~I0&~I1) ;

    GTP_LUT3 /* \N1[3]  */ #(
            .INIT(8'b00011101))
        \N1[3]  (
            .Z (N1[3]),
            .I0 (_N415),
            .I1 (_N416),
            .I2 (_N417));
	// LUT = (I1&~I2)|(~I0&~I1) ;

    GTP_LUT3 /* \N1[4]  */ #(
            .INIT(8'b00011101))
        \N1[4]  (
            .Z (N1[4]),
            .I0 (_N418),
            .I1 (_N419),
            .I2 (_N420));
	// LUT = (I1&~I2)|(~I0&~I1) ;

    GTP_LUT3 /* \N1[5]  */ #(
            .INIT(8'b00011101))
        \N1[5]  (
            .Z (N1[5]),
            .I0 (_N421),
            .I1 (_N422),
            .I2 (_N423));
	// LUT = (I1&~I2)|(~I0&~I1) ;

    GTP_LUT3 /* \N1[6]  */ #(
            .INIT(8'b00011101))
        \N1[6]  (
            .Z (N1[6]),
            .I0 (_N412),
            .I1 (_N413),
            .I2 (_N414));
	// LUT = (I1&~I2)|(~I0&~I1) ;

    GTP_LUT6 /* N23_7 */ #(
            .INIT(64'b1000000000000000000000000000000000000000000000000000000000000000))
        N23_7 (
            .Z (N23),
            .I0 (cnt_4[0]),
            .I1 (cnt_4[1]),
            .I2 (cnt_bit[0]),
            .I3 (cnt_bit[1]),
            .I4 (cnt_bit[2]),
            .I5 (cnt_bit[3]));
	// LUT = I0&I1&I2&I3&I4&I5 ;

    GTP_LUT2 /* N30_sum1 */ #(
            .INIT(4'b0110))
        N30_sum1 (
            .Z (N30[1]),
            .I0 (cnt_bit[0]),
            .I1 (cnt_bit[1]));
	// LUT = (I0&~I1)|(~I0&I1) ;

    GTP_LUT6D /* N30_sum2 */ #(
            .INIT(64'b0111100001111000011110000111100001111111100000000111111110000000))
        N30_sum2 (
            .Z (N30[2]),
            .Z5 (N30[3]),
            .I0 (cnt_bit[0]),
            .I1 (cnt_bit[1]),
            .I2 (cnt_bit[2]),
            .I3 (cnt_bit[3]),
            .I4 (),
            .I5 (1'b1));
	// LUT = (I0&I1&~I2)|(~I1&I2)|(~I0&I2) ;
	// Z5 = (I0&I1&I2&~I3)|(~I2&I3)|(~I1&I3)|(~I0&I3) ;

    GTP_LUT5 /* N58_1 */ #(
            .INIT(32'b11011101110110001000100011011000))
        N58_1 (
            .Z (_N69),
            .I0 (cnt_bit[0]),
            .I1 (data[0]),
            .I2 (_N370),
            .I3 (_N371),
            .I4 (_N372));
	// LUT = (I0&I1)|(~I0&I2&~I3)|(~I0&I3&I4) ;

    GTP_LUT5 /* N58_2 */ #(
            .INIT(32'b11011101110110001000100011011000))
        N58_2 (
            .Z (_N70),
            .I0 (cnt_bit[0]),
            .I1 (data[8]),
            .I2 (_N391),
            .I3 (_N392),
            .I4 (_N393));
	// LUT = (I0&I1)|(~I0&I2&~I3)|(~I0&I3&I4) ;

    GTP_MUX2LUT7 N58_3 (
            .Z (_N71),
            .I0 (_N70),
            .I1 (_N69),
            .S (cnt_bit[3]));

    GTP_LUT6D /* N58_4 */ #(
            .INIT(64'b1101110111011000100010001101100001010101010101010101010101010101))
        N58_4 (
            .Z (_N72),
            .Z5 (N30[0]),
            .I0 (cnt_bit[0]),
            .I1 (data[4]),
            .I2 (_N382),
            .I3 (_N383),
            .I4 (_N384),
            .I5 (1'b1));
	// LUT = (~I0&I3&I4)|(~I0&I2&~I3)|(I0&I1) ;
	// Z5 = ~I0 ;

    GTP_LUT6 /* N58_6 */ #(
            .INIT(64'b1111001111110011111100111101000111010001110100011111001111010001))
        N58_6 (
            .Z (_N74),
            .I0 (cnt_bit[0]),
            .I1 (cnt_bit[3]),
            .I2 (_N72),
            .I3 (_N400),
            .I4 (_N401),
            .I5 (_N402));
	// LUT = (~I0&~I1)|(I1&I2)|(~I1&I3&~I4)|(~I1&I4&I5) ;

    GTP_LUT5 /* N58_8 */ #(
            .INIT(32'b11011101110110001000100011011000))
        N58_8 (
            .Z (_N76),
            .I0 (cnt_bit[0]),
            .I1 (data[2]),
            .I2 (_N376),
            .I3 (_N377),
            .I4 (_N378));
	// LUT = (I0&I1)|(~I0&I2&~I3)|(~I0&I3&I4) ;

    GTP_LUT5 /* N58_9 */ #(
            .INIT(32'b11011101110110001000100011011000))
        N58_9 (
            .Z (_N77),
            .I0 (cnt_bit[0]),
            .I1 (data[10]),
            .I2 (_N397),
            .I3 (_N398),
            .I4 (_N399));
	// LUT = (I0&I1)|(~I0&I2&~I3)|(~I0&I3&I4) ;

    GTP_MUX2LUT7 N58_10 (
            .Z (_N78),
            .I0 (_N77),
            .I1 (_N76),
            .S (cnt_bit[3]));

    GTP_LUT5 /* N58_12 */ #(
            .INIT(32'b10111011101100110011001110110011))
        N58_12 (
            .Z (_N80),
            .I0 (cnt_bit[0]),
            .I1 (cnt_bit[3]),
            .I2 (_N385),
            .I3 (_N386),
            .I4 (_N387));
	// LUT = (~I1)|(I0&I2&~I3)|(I0&I3&I4) ;

    GTP_LUT6 /* N58_14 */ #(
            .INIT(64'b1111011111010101101100111001000111100110110001001010001010000000))
        N58_14 (
            .Z (N58),
            .I0 (cnt_bit[1]),
            .I1 (cnt_bit[2]),
            .I2 (_N71),
            .I3 (_N74),
            .I4 (_N78),
            .I5 (_N80));
	// LUT = (~I0&~I1&I5)|(I0&~I1&I3)|(~I0&I1&I4)|(I0&I1&I2) ;

    GTP_INV N61_1_vname (
            .Z (N61_1),
            .I (sys_rst_n));
    // defparam N61_1_vname.orig_name = N61_1;

    GTP_LUT6D /* N62 */ #(
            .INIT(64'b1000100010001000100010001000100000010001000100010001000100010001))
        N62_vname (
            .Z (N62),
            .Z5 (N70),
            .I0 (cnt_4[0]),
            .I1 (cnt_4[1]),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b1));
    // defparam N62_vname.orig_name = N62;
	// LUT = I0&I1 ;
	// Z5 = ~I0&~I1 ;
	// ../../../rtl/hc595_ctrl.v:58

    GTP_LUT4 /* N133_inv */ #(
            .INIT(16'b0101010000000100))
        N133_inv (
            .Z (N133),
            .I0 (sys_rst_n),
            .I1 (_N409),
            .I2 (_N410),
            .I3 (_N411));
	// LUT = (~I0&I1&~I2)|(~I0&I2&I3) ;

    GTP_LUT4 /* N134_inv */ #(
            .INIT(16'b0000000101010001))
        N134_inv (
            .Z (N134),
            .I0 (sys_rst_n),
            .I1 (_N409),
            .I2 (_N410),
            .I3 (_N411));
	// LUT = (~I0&I2&~I3)|(~I0&~I1&~I2) ;

    GTP_LUT4 /* N136_inv */ #(
            .INIT(16'b0101010000000100))
        N136_inv (
            .Z (N136),
            .I0 (sys_rst_n),
            .I1 (_N403),
            .I2 (_N404),
            .I3 (_N405));
	// LUT = (~I0&I1&~I2)|(~I0&I2&I3) ;

    GTP_LUT4 /* N137_inv */ #(
            .INIT(16'b0000000101010001))
        N137_inv (
            .Z (N137),
            .I0 (sys_rst_n),
            .I1 (_N403),
            .I2 (_N404),
            .I3 (_N405));
	// LUT = (~I0&I2&~I3)|(~I0&~I1&~I2) ;

    GTP_LUT4 /* N139_inv */ #(
            .INIT(16'b0101010000000100))
        N139_inv (
            .Z (N139),
            .I0 (sys_rst_n),
            .I1 (_N406),
            .I2 (_N407),
            .I3 (_N408));
	// LUT = (~I0&I1&~I2)|(~I0&I2&I3) ;

    GTP_LUT4 /* N140_inv */ #(
            .INIT(16'b0000000101010001))
        N140_inv (
            .Z (N140),
            .I0 (sys_rst_n),
            .I1 (_N406),
            .I2 (_N407),
            .I3 (_N408));
	// LUT = (~I0&I2&~I3)|(~I0&~I1&~I2) ;

    GTP_LUT4 /* N142_inv */ #(
            .INIT(16'b0101010000000100))
        N142_inv (
            .Z (N142),
            .I0 (sys_rst_n),
            .I1 (_N415),
            .I2 (_N416),
            .I3 (_N417));
	// LUT = (~I0&I1&~I2)|(~I0&I2&I3) ;

    GTP_LUT4 /* N143_inv */ #(
            .INIT(16'b0000000101010001))
        N143_inv (
            .Z (N143),
            .I0 (sys_rst_n),
            .I1 (_N415),
            .I2 (_N416),
            .I3 (_N417));
	// LUT = (~I0&I2&~I3)|(~I0&~I1&~I2) ;

    GTP_LUT4 /* N145_inv */ #(
            .INIT(16'b0101010000000100))
        N145_inv (
            .Z (N145),
            .I0 (sys_rst_n),
            .I1 (_N418),
            .I2 (_N419),
            .I3 (_N420));
	// LUT = (~I0&I1&~I2)|(~I0&I2&I3) ;

    GTP_LUT4 /* N146_inv */ #(
            .INIT(16'b0000000101010001))
        N146_inv (
            .Z (N146),
            .I0 (sys_rst_n),
            .I1 (_N418),
            .I2 (_N419),
            .I3 (_N420));
	// LUT = (~I0&I2&~I3)|(~I0&~I1&~I2) ;

    GTP_LUT4 /* N148_inv */ #(
            .INIT(16'b0101010000000100))
        N148_inv (
            .Z (N148),
            .I0 (sys_rst_n),
            .I1 (_N421),
            .I2 (_N422),
            .I3 (_N423));
	// LUT = (~I0&I1&~I2)|(~I0&I2&I3) ;

    GTP_LUT4 /* N149_inv */ #(
            .INIT(16'b0000000101010001))
        N149_inv (
            .Z (N149),
            .I0 (sys_rst_n),
            .I1 (_N421),
            .I2 (_N422),
            .I3 (_N423));
	// LUT = (~I0&I2&~I3)|(~I0&~I1&~I2) ;

    GTP_LUT4 /* N151_inv */ #(
            .INIT(16'b0101010000000100))
        N151_inv (
            .Z (N151),
            .I0 (sys_rst_n),
            .I1 (_N412),
            .I2 (_N413),
            .I3 (_N414));
	// LUT = (~I0&I1&~I2)|(~I0&I2&I3) ;

    GTP_LUT4 /* N152_inv */ #(
            .INIT(16'b0000000101010001))
        N152_inv (
            .Z (N152),
            .I0 (sys_rst_n),
            .I1 (_N412),
            .I2 (_N413),
            .I3 (_N414));
	// LUT = (~I0&I2&~I3)|(~I0&~I1&~I2) ;

    GTP_LUT2 /* N157_inv */ #(
            .INIT(4'b0001))
        N157_inv (
            .Z (N157),
            .I0 (sys_rst_n),
            .I1 (sel[0]));
	// LUT = ~I0&~I1 ;

    GTP_LUT2 /* N158 */ #(
            .INIT(4'b0100))
        N158_vname (
            .Z (N158),
            .I0 (sys_rst_n),
            .I1 (sel[0]));
    // defparam N158_vname.orig_name = N158;
	// LUT = ~I0&I1 ;
	// ../../../rtl/hc595_ctrl.v:46

    GTP_LUT2 /* N160_inv */ #(
            .INIT(4'b0001))
        N160_inv (
            .Z (N160),
            .I0 (sys_rst_n),
            .I1 (sel[1]));
	// LUT = ~I0&~I1 ;

    GTP_LUT2 /* N161 */ #(
            .INIT(4'b0100))
        N161_vname (
            .Z (N161),
            .I0 (sys_rst_n),
            .I1 (sel[1]));
    // defparam N161_vname.orig_name = N161;
	// LUT = ~I0&I1 ;
	// ../../../rtl/hc595_ctrl.v:46

    GTP_LUT2 /* N163_inv */ #(
            .INIT(4'b0001))
        N163_inv (
            .Z (N163),
            .I0 (sys_rst_n),
            .I1 (sel[2]));
	// LUT = ~I0&~I1 ;

    GTP_LUT2 /* N164 */ #(
            .INIT(4'b0100))
        N164_vname (
            .Z (N164),
            .I0 (sys_rst_n),
            .I1 (sel[2]));
    // defparam N164_vname.orig_name = N164;
	// LUT = ~I0&I1 ;
	// ../../../rtl/hc595_ctrl.v:46

    GTP_LUT2 /* N166_inv */ #(
            .INIT(4'b0001))
        N166_inv (
            .Z (N166),
            .I0 (sys_rst_n),
            .I1 (sel[3]));
	// LUT = ~I0&~I1 ;

    GTP_LUT2 /* N167 */ #(
            .INIT(4'b0100))
        N167_vname (
            .Z (N167),
            .I0 (sys_rst_n),
            .I1 (sel[3]));
    // defparam N167_vname.orig_name = N167;
	// LUT = ~I0&I1 ;
	// ../../../rtl/hc595_ctrl.v:46

    GTP_LUT2 /* N169_inv */ #(
            .INIT(4'b0001))
        N169_inv (
            .Z (N169),
            .I0 (sys_rst_n),
            .I1 (sel[4]));
	// LUT = ~I0&~I1 ;

    GTP_LUT2 /* N170 */ #(
            .INIT(4'b0100))
        N170_vname (
            .Z (N170),
            .I0 (sys_rst_n),
            .I1 (sel[4]));
    // defparam N170_vname.orig_name = N170;
	// LUT = ~I0&I1 ;
	// ../../../rtl/hc595_ctrl.v:46

    GTP_DFF_C /* \cnt_4[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_4[0]  (
            .Q (cnt_4[0]),
            .C (N61_1),
            .CLK (sys_clk),
            .D (N14[0]));
	// ../../../rtl/hc595_ctrl.v:55

    GTP_LUT6D /* \cnt_4[1:0]_inv  */ #(
            .INIT(64'b0101010101010101010101010101010101100110011001100110011001100110))
        \cnt_4[1:0]_inv  (
            .Z (N14[0]),
            .Z5 (N14[1]),
            .I0 (cnt_4[0]),
            .I1 (cnt_4[1]),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b1));
	// LUT = ~I0 ;
	// Z5 = I1^I0 ;

    GTP_DFF_C /* \cnt_4[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_4[1]  (
            .Q (cnt_4[1]),
            .C (N61_1),
            .CLK (sys_clk),
            .D (N14[1]));
	// ../../../rtl/hc595_ctrl.v:55

    GTP_DFF_CE /* \cnt_bit[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_bit[0]  (
            .Q (cnt_bit[0]),
            .C (N61_1),
            .CE (N62),
            .CLK (sys_clk),
            .D (N30[0]));
	// ../../../rtl/hc595_ctrl.v:64

    GTP_DFF_CE /* \cnt_bit[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_bit[1]  (
            .Q (cnt_bit[1]),
            .C (N61_1),
            .CE (N62),
            .CLK (sys_clk),
            .D (N30[1]));
	// ../../../rtl/hc595_ctrl.v:64

    GTP_DFF_CE /* \cnt_bit[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_bit[2]  (
            .Q (cnt_bit[2]),
            .C (N61_1),
            .CE (N62),
            .CLK (sys_clk),
            .D (N30[2]));
	// ../../../rtl/hc595_ctrl.v:64

    GTP_DFF_CE /* \cnt_bit[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt_bit[3]  (
            .Q (cnt_bit[3]),
            .C (N61_1),
            .CE (N62),
            .CLK (sys_clk),
            .D (N30[3]));
	// ../../../rtl/hc595_ctrl.v:64

    GTP_DFF_CE /* data_ce */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_ce (
            .Q (_N369),
            .C (N133),
            .CE (rck),
            .CLK (sys_clk),
            .D (N1[0]));
	// ../../../rtl/hc595_ctrl.v:46

    GTP_DFF_CE /* data_ce_1 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_ce_1 (
            .Q (_N372),
            .C (N136),
            .CE (rck),
            .CLK (sys_clk),
            .D (N1[1]));
	// ../../../rtl/hc595_ctrl.v:46

    GTP_DFF_CE /* data_ce_2 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_ce_2 (
            .Q (_N375),
            .C (N139),
            .CE (rck),
            .CLK (sys_clk),
            .D (N1[2]));
	// ../../../rtl/hc595_ctrl.v:46

    GTP_DFF_CE /* data_ce_3 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_ce_3 (
            .Q (_N378),
            .C (N142),
            .CE (rck),
            .CLK (sys_clk),
            .D (N1[3]));
	// ../../../rtl/hc595_ctrl.v:46

    GTP_DFF_CE /* data_ce_4 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_ce_4 (
            .Q (_N381),
            .C (N145),
            .CE (rck),
            .CLK (sys_clk),
            .D (N1[4]));
	// ../../../rtl/hc595_ctrl.v:46

    GTP_DFF_CE /* data_ce_5 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_ce_5 (
            .Q (_N384),
            .C (N148),
            .CE (rck),
            .CLK (sys_clk),
            .D (N1[5]));
	// ../../../rtl/hc595_ctrl.v:46

    GTP_DFF_CE /* data_ce_6 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_ce_6 (
            .Q (_N387),
            .C (N151),
            .CE (rck),
            .CLK (sys_clk),
            .D (N1[6]));
	// ../../../rtl/hc595_ctrl.v:46

    GTP_DFF_CE /* data_ce_7 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_ce_7 (
            .Q (_N390),
            .C (N157),
            .CE (rck),
            .CLK (sys_clk),
            .D (sel[0]));
	// ../../../rtl/hc595_ctrl.v:46

    GTP_DFF_CE /* data_ce_8 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_ce_8 (
            .Q (_N393),
            .C (N160),
            .CE (rck),
            .CLK (sys_clk),
            .D (sel[1]));
	// ../../../rtl/hc595_ctrl.v:46

    GTP_DFF_CE /* data_ce_9 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_ce_9 (
            .Q (_N396),
            .C (N163),
            .CE (rck),
            .CLK (sys_clk),
            .D (sel[2]));
	// ../../../rtl/hc595_ctrl.v:46

    GTP_DFF_CE /* data_ce_10 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_ce_10 (
            .Q (_N399),
            .C (N166),
            .CE (rck),
            .CLK (sys_clk),
            .D (sel[3]));
	// ../../../rtl/hc595_ctrl.v:46

    GTP_DFF_CE /* data_ce_11 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_ce_11 (
            .Q (_N402),
            .C (N169),
            .CE (rck),
            .CLK (sys_clk),
            .D (sel[4]));
	// ../../../rtl/hc595_ctrl.v:46

    GTP_DLATCH_C /* data_cp */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_cp (
            .Q (_N367),
            .C (N133),
            .D (1'b1),
            .G (N134));

    GTP_DLATCH_C /* data_cp_1 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_cp_1 (
            .Q (_N370),
            .C (N136),
            .D (1'b1),
            .G (N137));

    GTP_DLATCH_C /* data_cp_2 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_cp_2 (
            .Q (_N373),
            .C (N139),
            .D (1'b1),
            .G (N140));

    GTP_DLATCH_C /* data_cp_3 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_cp_3 (
            .Q (_N376),
            .C (N142),
            .D (1'b1),
            .G (N143));

    GTP_DLATCH_C /* data_cp_4 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_cp_4 (
            .Q (_N379),
            .C (N145),
            .D (1'b1),
            .G (N146));

    GTP_DLATCH_C /* data_cp_5 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_cp_5 (
            .Q (_N382),
            .C (N148),
            .D (1'b1),
            .G (N149));

    GTP_DLATCH_C /* data_cp_6 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_cp_6 (
            .Q (_N385),
            .C (N151),
            .D (1'b1),
            .G (N152));

    GTP_DLATCH_C /* data_cp_7 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_cp_7 (
            .Q (_N388),
            .C (N157),
            .D (1'b1),
            .G (N158));

    GTP_DLATCH_C /* data_cp_8 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_cp_8 (
            .Q (_N391),
            .C (N160),
            .D (1'b1),
            .G (N161));

    GTP_DLATCH_C /* data_cp_9 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_cp_9 (
            .Q (_N394),
            .C (N163),
            .D (1'b1),
            .G (N164));

    GTP_DLATCH_C /* data_cp_10 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_cp_10 (
            .Q (_N397),
            .C (N166),
            .D (1'b1),
            .G (N167));

    GTP_DLATCH_C /* data_cp_11 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_cp_11 (
            .Q (_N400),
            .C (N169),
            .D (1'b1),
            .G (N170));

    GTP_LUT3 /* data_mux */ #(
            .INIT(8'b11100010))
        data_mux (
            .Z (data[0]),
            .I0 (_N367),
            .I1 (_N368),
            .I2 (_N369));
	// LUT = (I0&~I1)|(I1&I2) ;

    GTP_LUT3 /* data_mux_2 */ #(
            .INIT(8'b11100010))
        data_mux_2 (
            .Z (data[2]),
            .I0 (_N373),
            .I1 (_N374),
            .I2 (_N375));
	// LUT = (I0&~I1)|(I1&I2) ;

    GTP_LUT3 /* data_mux_4 */ #(
            .INIT(8'b11100010))
        data_mux_4 (
            .Z (data[4]),
            .I0 (_N379),
            .I1 (_N380),
            .I2 (_N381));
	// LUT = (I0&~I1)|(I1&I2) ;

    GTP_LUT3 /* data_mux_7 */ #(
            .INIT(8'b11100010))
        data_mux_7 (
            .Z (data[8]),
            .I0 (_N388),
            .I1 (_N389),
            .I2 (_N390));
	// LUT = (I0&~I1)|(I1&I2) ;

    GTP_LUT3 /* data_mux_9 */ #(
            .INIT(8'b11100010))
        data_mux_9 (
            .Z (data[10]),
            .I0 (_N394),
            .I1 (_N395),
            .I2 (_N396));
	// LUT = (I0&~I1)|(I1&I2) ;

    GTP_DFF_CE /* data_sel */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_sel (
            .Q (_N368),
            .C (N134),
            .CE (rck),
            .CLK (sys_clk),
            .D (1'b1));

    GTP_DFF_CE /* data_sel_1 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_sel_1 (
            .Q (_N371),
            .C (N137),
            .CE (rck),
            .CLK (sys_clk),
            .D (1'b1));

    GTP_DFF_CE /* data_sel_2 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_sel_2 (
            .Q (_N374),
            .C (N140),
            .CE (rck),
            .CLK (sys_clk),
            .D (1'b1));

    GTP_DFF_CE /* data_sel_3 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_sel_3 (
            .Q (_N377),
            .C (N143),
            .CE (rck),
            .CLK (sys_clk),
            .D (1'b1));

    GTP_DFF_CE /* data_sel_4 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_sel_4 (
            .Q (_N380),
            .C (N146),
            .CE (rck),
            .CLK (sys_clk),
            .D (1'b1));

    GTP_DFF_CE /* data_sel_5 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_sel_5 (
            .Q (_N383),
            .C (N149),
            .CE (rck),
            .CLK (sys_clk),
            .D (1'b1));

    GTP_DFF_CE /* data_sel_6 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_sel_6 (
            .Q (_N386),
            .C (N152),
            .CE (rck),
            .CLK (sys_clk),
            .D (1'b1));

    GTP_DFF_CE /* data_sel_7 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_sel_7 (
            .Q (_N389),
            .C (N158),
            .CE (rck),
            .CLK (sys_clk),
            .D (1'b1));

    GTP_DFF_CE /* data_sel_8 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_sel_8 (
            .Q (_N392),
            .C (N161),
            .CE (rck),
            .CLK (sys_clk),
            .D (1'b1));

    GTP_DFF_CE /* data_sel_9 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_sel_9 (
            .Q (_N395),
            .C (N164),
            .CE (rck),
            .CLK (sys_clk),
            .D (1'b1));

    GTP_DFF_CE /* data_sel_10 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_sel_10 (
            .Q (_N398),
            .C (N167),
            .CE (rck),
            .CLK (sys_clk),
            .D (1'b1));

    GTP_DFF_CE /* data_sel_11 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        data_sel_11 (
            .Q (_N401),
            .C (N170),
            .CE (rck),
            .CLK (sys_clk),
            .D (1'b1));

    GTP_DFF_C /* rck */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        rck_vname (
            .Q (rck),
            .C (N61_1),
            .CLK (sys_clk),
            .D (N23));
    // defparam rck_vname.orig_name = rck;
	// ../../../rtl/hc595_ctrl.v:75

    GTP_DFF_C /* sck */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        sck_vname (
            .Q (sck),
            .C (N61_1),
            .CLK (sys_clk),
            .D (cnt_4[1]));
    // defparam sck_vname.orig_name = sck;
	// ../../../rtl/hc595_ctrl.v:84

    GTP_DFF_CE /* ser */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        ser_vname (
            .Q (ser),
            .C (N61_1),
            .CE (N70),
            .CLK (sys_clk),
            .D (N58));
    // defparam ser_vname.orig_name = ser;
	// ../../../rtl/hc595_ctrl.v:93


endmodule


module led_display_seg_ctrl
(
    input clk,
    input \hc595_ctrl_inst/N61_1 ,
    input rstn,
    output [4:0] sel,
    output _N403,
    output _N404,
    output _N405,
    output _N406,
    output _N407,
    output _N408,
    output _N409,
    output _N410,
    output _N411,
    output _N412,
    output _N413,
    output _N414,
    output _N415,
    output _N416,
    output _N417,
    output _N418,
    output _N419,
    output _N420,
    output _N421,
    output _N422,
    output _N423
);
    wire [31:0] N6;
    wire [7:0] N34;
    wire N11880;
    wire N11881;
    wire N11882;
    wire [31:0] N14536;
    wire N14542;
    wire N14543;
    wire N14545;
    wire N14546;
    wire N14548;
    wire N14549;
    wire N14551;
    wire N14552;
    wire N14554;
    wire N14555;
    wire N14557;
    wire N14558;
    wire N14560;
    wire N14561;
    wire [4:0] N16294;
    wire _N55;
    wire _N56;
    wire _N57;
    wire _N58;
    wire _N59;
    wire _N60;
    wire _N61;
    wire _N62;
    wire _N63;
    wire _N64;
    wire _N65;
    wire _N66;
    wire _N432;
    wire _N433;
    wire _N434;
    wire _N437;
    wire [31:0] cnt;
    wire seg_flag;
    wire sel_flag;

    GTP_LUT6CARRY /* N6_1_1 */ #(
            .INIT(64'b0110011001100110011001100110011000000000000000000000000000000000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("TRUE"))
        N6_1_1 (
            .COUT (_N55),
            .Z (N6[1]),
            .CIN (),
            .I0 (cnt[0]),
            .I1 (cnt[1]),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b1));
	// LUT = I1^I0 ;
	// CARRY = (1'b0) ? CIN : I5 ;
	// ../../../rtl/led_display_seg_ctrl.v:26

    GTP_LUT6CARRY /* N6_1_2 */ #(
            .INIT(64'b0111100001111000011110000111100010000000100000001000000010000000), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N6_1_2 (
            .COUT (_N56),
            .Z (N6[2]),
            .CIN (_N55),
            .I0 (cnt[0]),
            .I1 (cnt[1]),
            .I2 (cnt[2]),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = (I0&I1&I2&~CIN)|(I0&I1&~I2&CIN)|(~I1&I2&CIN)|(~I0&I2&CIN) ;
	// CARRY = (I0&I1&I2) ? CIN : I5 ;
	// ../../../rtl/led_display_seg_ctrl.v:26

    GTP_LUT6CARRY /* N6_1_3 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N6_1_3 (
            .COUT (_N57),
            .Z (N6[3]),
            .CIN (_N56),
            .I0 (cnt[3]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/led_display_seg_ctrl.v:26

    GTP_LUT6CARRY /* N6_1_4 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N6_1_4 (
            .COUT (_N58),
            .Z (N6[4]),
            .CIN (_N57),
            .I0 (cnt[4]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/led_display_seg_ctrl.v:26

    GTP_LUT6CARRY /* N6_1_5 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N6_1_5 (
            .COUT (_N59),
            .Z (N6[5]),
            .CIN (_N58),
            .I0 (cnt[5]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/led_display_seg_ctrl.v:26

    GTP_LUT6CARRY /* N6_1_6 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N6_1_6 (
            .COUT (_N60),
            .Z (N6[6]),
            .CIN (_N59),
            .I0 (cnt[6]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/led_display_seg_ctrl.v:26

    GTP_LUT6CARRY /* N6_1_7 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N6_1_7 (
            .COUT (_N61),
            .Z (N6[7]),
            .CIN (_N60),
            .I0 (cnt[7]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/led_display_seg_ctrl.v:26

    GTP_LUT6CARRY /* N6_1_8 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N6_1_8 (
            .COUT (_N62),
            .Z (N6[8]),
            .CIN (_N61),
            .I0 (cnt[8]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/led_display_seg_ctrl.v:26

    GTP_LUT6CARRY /* N6_1_9 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N6_1_9 (
            .COUT (_N63),
            .Z (N6[9]),
            .CIN (_N62),
            .I0 (cnt[9]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/led_display_seg_ctrl.v:26

    GTP_LUT6CARRY /* N6_1_10 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N6_1_10 (
            .COUT (_N64),
            .Z (N6[10]),
            .CIN (_N63),
            .I0 (cnt[10]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/led_display_seg_ctrl.v:26

    GTP_LUT6CARRY /* N6_1_11 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N6_1_11 (
            .COUT (_N65),
            .Z (N6[11]),
            .CIN (_N64),
            .I0 (cnt[11]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/led_display_seg_ctrl.v:26

    GTP_LUT6CARRY /* N6_1_12 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N6_1_12 (
            .COUT (_N66),
            .Z (N6[12]),
            .CIN (_N65),
            .I0 (cnt[12]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/led_display_seg_ctrl.v:26

    GTP_LUT6CARRY /* N6_1_13 */ #(
            .INIT(64'b0101010101010101010101010101010110101010101010101010101010101010), 
            .I5_TO_CARRY("TRUE"), 
            .I5_TO_LUT("FALSE"))
        N6_1_13 (
            .COUT (),
            .Z (N6[13]),
            .CIN (_N66),
            .I0 (cnt[13]),
            .I1 (),
            .I2 (),
            .I3 (),
            .I4 (),
            .I5 (1'b0));
	// LUT = CIN^I0 ;
	// CARRY = (I0) ? CIN : I5 ;
	// ../../../rtl/led_display_seg_ctrl.v:26

    GTP_LUT2 /* N25_sum1 */ #(
            .INIT(4'b0110))
        N25_sum1 (
            .Z (N16294[1]),
            .I0 (sel[0]),
            .I1 (sel[1]));
	// LUT = (I0&~I1)|(~I0&I1) ;

    GTP_LUT6D /* N25_sum3 */ #(
            .INIT(64'b0111111110000000011111111000000001111111111111111000000000000000))
        N25_sum3 (
            .Z (N16294[3]),
            .Z5 (N16294[4]),
            .I0 (sel[0]),
            .I1 (sel[1]),
            .I2 (sel[2]),
            .I3 (sel[3]),
            .I4 (sel[4]),
            .I5 (1'b1));
	// LUT = (I0&I1&I2&~I3)|(~I2&I3)|(~I1&I3)|(~I0&I3) ;
	// Z5 = (I0&I1&I2&I3&~I4)|(~I3&I4)|(~I2&I4)|(~I1&I4)|(~I0&I4) ;

    GTP_LUT5 /* \N34_2[0]_inv  */ #(
            .INIT(32'b11100010111011111001011111111101))
        \N34_2[0]_inv  (
            .Z (N34[2]),
            .I0 (sel[0]),
            .I1 (sel[1]),
            .I2 (sel[2]),
            .I3 (sel[3]),
            .I4 (sel[4]));
	// LUT = (I1&~I3)|(~I0&~I2&~I4)|(~I0&~I1&~I4)|(~I2&~I3&I4)|(I0&I2&~I3)|(I0&~I1&I4)|(I0&I1&I2)|(I1&I2&I4)|(I0&~I1&~I2&I3) ;

    GTP_LUT5 /* \N34_31[0]  */ #(
            .INIT(32'b00001111001010101110101111110110))
        \N34_31[0]  (
            .Z (N34[0]),
            .I0 (sel[0]),
            .I1 (sel[1]),
            .I2 (sel[2]),
            .I3 (sel[3]),
            .I4 (sel[4]));
	// LUT = (I2&~I3&~I4)|(I0&I3&~I4)|(I1&I2&~I4)|(I0&~I1&~I3)|(~I1&~I2&I3)|(I0&~I2&I4)|(~I2&I3&I4)|(~I0&I1&~I3&~I4) ;

    GTP_LUT5 /* \N34_31[1]  */ #(
            .INIT(32'b10100011001001110001001111001111))
        \N34_31[1]  (
            .Z (N34[1]),
            .I0 (sel[0]),
            .I1 (sel[1]),
            .I2 (sel[2]),
            .I3 (sel[3]),
            .I4 (sel[4]));
	// LUT = (~I1&~I2)|(I1&~I3&~I4)|(~I0&~I2&~I3)|(I0&~I1&I4)|(~I0&~I1&I3&~I4)|(I0&I2&I3&I4) ;

    GTP_LUT5 /* \N34_31[2]  */ #(
            .INIT(32'b11111000100101101011110110110110))
        \N34_31[2]  (
            .Z (N34[3]),
            .I0 (sel[0]),
            .I1 (sel[1]),
            .I2 (sel[2]),
            .I3 (sel[3]),
            .I4 (sel[4]));
	// LUT = (I0&I2&~I4)|(~I0&~I1&I2)|(I0&I1&I2)|(I0&I1&I3)|(I2&I3&I4)|(~I0&~I2&I3&~I4)|(I0&~I1&~I2&~I3)|(~I0&I1&~I2&~I3) ;

    GTP_LUT5 /* \N34_31[3]  */ #(
            .INIT(32'b11110101111110011111111010100010))
        \N34_31[3]  (
            .Z (N34[4]),
            .I0 (sel[0]),
            .I1 (sel[1]),
            .I2 (sel[2]),
            .I3 (sel[3]),
            .I4 (sel[4]));
	// LUT = (I0&I2)|(I2&I3)|(I2&I4)|(I0&~I1&~I4)|(I1&I3&~I4)|(~I0&~I1&I4)|(~I0&I1&I3)|(I0&I1&~I3&I4) ;

    GTP_LUT5 /* \N34_31[4]  */ #(
            .INIT(32'b10110111001110011110111110111000))
        \N34_31[4]  (
            .Z (N34[5]),
            .I0 (sel[0]),
            .I1 (sel[1]),
            .I2 (sel[2]),
            .I3 (sel[3]),
            .I4 (sel[4]));
	// LUT = (I0&I2&~I4)|(I1&I3&~I4)|(~I1&I2&~I3)|(~I0&~I2&I3)|(~I0&~I1&I4)|(I0&~I1&I3)|(I0&I2&I3)|(I0&I1&~I2&~I3) ;

    GTP_LUT5 /* \N34_31[5]  */ #(
            .INIT(32'b10011011110010010111011110111110))
        \N34_31[5]  (
            .Z (N34[6]),
            .I0 (sel[0]),
            .I1 (sel[1]),
            .I2 (sel[2]),
            .I3 (sel[3]),
            .I4 (sel[4]));
	// LUT = (I0&~I3&~I4)|(I0&~I1&~I4)|(~I1&I2&~I4)|(~I0&I3&~I4)|(~I1&~I2&I3)|(~I0&~I1&I3)|(I0&I1&I4)|(I1&~I2&~I3&~I4)|(I1&I2&~I3&I4)|(~I0&~I1&~I2&I4) ;

    GTP_LUT3 /* N11878_15 */ #(
            .INIT(8'b00010000))
        N11878_15 (
            .Z (_N432),
            .I0 (cnt[3]),
            .I1 (cnt[8]),
            .I2 (cnt[13]));
	// LUT = ~I0&~I1&I2 ;

    GTP_LUT4 /* N11878_16 */ #(
            .INIT(16'b0000000000000001))
        N11878_16 (
            .Z (_N433),
            .I0 (cnt[9]),
            .I1 (cnt[10]),
            .I2 (cnt[11]),
            .I3 (cnt[12]));
	// LUT = ~I0&~I1&~I2&~I3 ;

    GTP_LUT4 /* N11878_17 */ #(
            .INIT(16'b1000000000000000))
        N11878_17 (
            .Z (_N434),
            .I0 (cnt[4]),
            .I1 (cnt[5]),
            .I2 (cnt[6]),
            .I3 (cnt[7]));
	// LUT = I0&I1&I2&I3 ;

    GTP_LUT2 /* N11880_2 */ #(
            .INIT(4'b0100))
        N11880_2 (
            .Z (_N437),
            .I0 (cnt[1]),
            .I1 (cnt[2]));
	// LUT = ~I0&I1 ;

    GTP_LUT6 /* N11880_7 */ #(
            .INIT(64'b0000100000000000000000000000000000000000000000000000000000000000))
        N11880_7 (
            .Z (N11880),
            .I0 (cnt[0]),
            .I1 (cnt[1]),
            .I2 (cnt[2]),
            .I3 (_N432),
            .I4 (_N433),
            .I5 (_N434));
	// LUT = I0&I1&~I2&I3&I4&I5 ;

    GTP_LUT1 /* N11881 */ #(
            .INIT(2'b01))
        N11881_vname (
            .Z (N11881),
            .I0 (cnt[0]));
    // defparam N11881_vname.orig_name = N11881;
	// LUT = ~I0 ;

    GTP_LUT6 /* N11882 */ #(
            .INIT(64'b0001000000000000000000000000000000000000000000000000000000000000))
        N11882_vname (
            .Z (N11882),
            .I0 (cnt[0]),
            .I1 (cnt[1]),
            .I2 (cnt[2]),
            .I3 (_N432),
            .I4 (_N433),
            .I5 (_N434));
    // defparam N11882_vname.orig_name = N11882;
	// LUT = ~I0&~I1&I2&I3&I4&I5 ;

    GTP_LUT6 /* \N14536[0]  */ #(
            .INIT(64'b0010101010101010101010101010101010101010101010101010101010101010))
        \N14536[0]  (
            .Z (N14536[1]),
            .I0 (N6[1]),
            .I1 (cnt[0]),
            .I2 (_N432),
            .I3 (_N433),
            .I4 (_N434),
            .I5 (_N437));
	// LUT = (I0&~I5)|(I0&~I4)|(I0&~I3)|(I0&~I2)|(I0&~I1) ;
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_LUT6 /* \N14536[1]  */ #(
            .INIT(64'b0010101010101010101010101010101010101010101010101010101010101010))
        \N14536[1]  (
            .Z (N14536[2]),
            .I0 (N6[2]),
            .I1 (cnt[0]),
            .I2 (_N432),
            .I3 (_N433),
            .I4 (_N434),
            .I5 (_N437));
	// LUT = (I0&~I5)|(I0&~I4)|(I0&~I3)|(I0&~I2)|(I0&~I1) ;
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_LUT6 /* \N14536[2]  */ #(
            .INIT(64'b0010101010101010101010101010101010101010101010101010101010101010))
        \N14536[2]  (
            .Z (N14536[4]),
            .I0 (N6[4]),
            .I1 (cnt[0]),
            .I2 (_N432),
            .I3 (_N433),
            .I4 (_N434),
            .I5 (_N437));
	// LUT = (I0&~I5)|(I0&~I4)|(I0&~I3)|(I0&~I2)|(I0&~I1) ;
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_LUT6 /* \N14536[3]  */ #(
            .INIT(64'b0010101010101010101010101010101010101010101010101010101010101010))
        \N14536[3]  (
            .Z (N14536[5]),
            .I0 (N6[5]),
            .I1 (cnt[0]),
            .I2 (_N432),
            .I3 (_N433),
            .I4 (_N434),
            .I5 (_N437));
	// LUT = (I0&~I5)|(I0&~I4)|(I0&~I3)|(I0&~I2)|(I0&~I1) ;
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_LUT6 /* \N14536[4]  */ #(
            .INIT(64'b0010101010101010101010101010101010101010101010101010101010101010))
        \N14536[4]  (
            .Z (N14536[6]),
            .I0 (N6[6]),
            .I1 (cnt[0]),
            .I2 (_N432),
            .I3 (_N433),
            .I4 (_N434),
            .I5 (_N437));
	// LUT = (I0&~I5)|(I0&~I4)|(I0&~I3)|(I0&~I2)|(I0&~I1) ;
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_LUT6 /* \N14536[5]  */ #(
            .INIT(64'b0010101010101010101010101010101010101010101010101010101010101010))
        \N14536[5]  (
            .Z (N14536[7]),
            .I0 (N6[7]),
            .I1 (cnt[0]),
            .I2 (_N432),
            .I3 (_N433),
            .I4 (_N434),
            .I5 (_N437));
	// LUT = (I0&~I5)|(I0&~I4)|(I0&~I3)|(I0&~I2)|(I0&~I1) ;
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_LUT6 /* \N14536[6]  */ #(
            .INIT(64'b0010101010101010101010101010101010101010101010101010101010101010))
        \N14536[6]  (
            .Z (N14536[13]),
            .I0 (N6[13]),
            .I1 (cnt[0]),
            .I2 (_N432),
            .I3 (_N433),
            .I4 (_N434),
            .I5 (_N437));
	// LUT = (I0&~I5)|(I0&~I4)|(I0&~I3)|(I0&~I2)|(I0&~I1) ;
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_LUT6 /* N14542_inv */ #(
            .INIT(64'b0101010100000000010100010001000100000001000100000000000001000001))
        N14542_inv (
            .Z (N14542),
            .I0 (rstn),
            .I1 (sel[0]),
            .I2 (sel[1]),
            .I3 (sel[2]),
            .I4 (sel[3]),
            .I5 (sel[4]));
	// LUT = (~I0&~I1&~I4&I5)|(~I0&I2&I3&I5)|(~I0&I3&I4&I5)|(~I0&~I1&~I2&~I3&~I4)|(~I0&~I1&~I2&I3&I4)|(~I0&I1&I2&~I3&~I4&~I5)|(~I0&~I1&I2&~I3&I4&~I5) ;

    GTP_LUT6 /* N14543 */ #(
            .INIT(64'b0000000001010101000001000100010001010100010001010101010100010100))
        N14543_vname (
            .Z (N14543),
            .I0 (rstn),
            .I1 (sel[0]),
            .I2 (sel[1]),
            .I3 (sel[2]),
            .I4 (sel[3]),
            .I5 (sel[4]));
    // defparam N14543_vname.orig_name = N14543;
	// LUT = (~I0&I3&~I4&~I5)|(~I0&I1&I4&~I5)|(~I0&I2&I3&~I5)|(~I0&I1&~I2&~I4)|(~I0&~I2&~I3&I4)|(~I0&I1&~I3&I5)|(~I0&~I3&I4&I5)|(~I0&~I1&I2&~I4&~I5) ;
	// ../../../rtl/led_display_seg_ctrl.v:97

    GTP_LUT6 /* N14545_inv */ #(
            .INIT(64'b0001000101010000010100010100000001010100010100000000010100000000))
        N14545_inv (
            .Z (N14545),
            .I0 (rstn),
            .I1 (sel[0]),
            .I2 (sel[1]),
            .I3 (sel[2]),
            .I4 (sel[3]),
            .I5 (sel[4]));
	// LUT = (~I0&I2&I4&~I5)|(~I0&I2&~I3&I4)|(~I0&~I1&I2&I4)|(~I0&~I1&I3&I5)|(~I0&~I2&I3&~I4&~I5)|(~I0&I1&I3&I4&~I5)|(~I0&I1&I2&~I4&I5) ;

    GTP_LUT6 /* N14546 */ #(
            .INIT(64'b0100010000000101000001000001010100000001000001010101000001010101))
        N14546_vname (
            .Z (N14546),
            .I0 (rstn),
            .I1 (sel[0]),
            .I2 (sel[1]),
            .I3 (sel[2]),
            .I4 (sel[3]),
            .I5 (sel[4]));
    // defparam N14546_vname.orig_name = N14546;
	// LUT = (~I0&~I2&~I3)|(~I0&I2&~I4&~I5)|(~I0&~I1&~I3&~I4)|(~I0&I1&~I2&I5)|(~I0&~I1&~I2&I4&~I5)|(~I0&I1&I3&I4&I5) ;
	// ../../../rtl/led_display_seg_ctrl.v:97

    GTP_LUT6 /* N14548_inv */ #(
            .INIT(64'b0000000101010001000000010000000000010100010000000000000000000100))
        N14548_inv (
            .Z (N14548),
            .I0 (rstn),
            .I1 (sel[0]),
            .I2 (sel[1]),
            .I3 (sel[2]),
            .I4 (sel[3]),
            .I5 (sel[4]));
	// LUT = (~I0&~I1&~I3&I4&I5)|(~I0&I1&I2&~I3&I4)|(~I0&~I1&~I2&I3&I5)|(~I0&I1&~I2&~I3&~I4&~I5)|(~I0&I1&~I2&I3&I4&~I5)|(~I0&~I1&I2&I3&I4&~I5) ;

    GTP_LUT6 /* N14549_inv */ #(
            .INIT(64'b0101010000000100010101000101010101000001000101010101010101010001))
        N14549_inv (
            .Z (N14549),
            .I0 (rstn),
            .I1 (sel[0]),
            .I2 (sel[1]),
            .I3 (sel[2]),
            .I4 (sel[3]),
            .I5 (sel[4]));
	// LUT = (~I0&I2&~I4)|(~I0&~I1&~I3&~I5)|(~I0&~I1&~I2&~I5)|(~I0&~I3&~I4&I5)|(~I0&I1&I3&~I4)|(~I0&I1&~I2&I5)|(~I0&I1&I2&I3)|(~I0&I2&I3&I5)|(~I0&I1&~I2&~I3&I4) ;

    GTP_LUT6 /* N14551_inv */ #(
            .INIT(64'b0000000000010101000101000100000100010000000001000001000001000001))
        N14551_inv (
            .Z (N14551),
            .I0 (rstn),
            .I1 (sel[0]),
            .I2 (sel[1]),
            .I3 (sel[2]),
            .I4 (sel[3]),
            .I5 (sel[4]));
	// LUT = (~I0&~I1&I2&I3&~I5)|(~I0&~I1&~I2&~I3&~I4)|(~I0&I1&I2&~I3&~I4)|(~I0&~I1&I2&I3&~I4)|(~I0&I1&~I2&~I3&I4)|(~I0&~I1&~I3&I4&I5)|(~I0&I1&~I2&I3&~I4&I5) ;

    GTP_LUT6 /* N14552 */ #(
            .INIT(64'b0101010101000000010000010001010001000101010100010100010100010100))
        N14552_vname (
            .Z (N14552),
            .I0 (rstn),
            .I1 (sel[0]),
            .I2 (sel[1]),
            .I3 (sel[2]),
            .I4 (sel[3]),
            .I5 (sel[4]));
    // defparam N14552_vname.orig_name = N14552;
	// LUT = (~I0&I1&I3&~I5)|(~I0&~I1&~I2&I3)|(~I0&I1&I2&I3)|(~I0&I1&I2&I4)|(~I0&I3&I4&I5)|(~I0&~I1&~I3&I4&~I5)|(~I0&I1&~I2&~I3&~I4)|(~I0&~I1&I2&~I3&~I4) ;
	// ../../../rtl/led_display_seg_ctrl.v:97

    GTP_LUT6 /* N14554_inv */ #(
            .INIT(64'b0000000001000100000000000001010000000000000000010001000101010001))
        N14554_inv (
            .Z (N14554),
            .I0 (rstn),
            .I1 (sel[0]),
            .I2 (sel[1]),
            .I3 (sel[2]),
            .I4 (sel[3]),
            .I5 (sel[4]));
	// LUT = (~I0&~I1&~I4&~I5)|(~I0&I2&~I3&~I4&~I5)|(~I0&~I1&~I2&~I3&~I5)|(~I0&~I1&I2&~I3&~I4)|(~I0&I1&~I2&~I3&I5)|(~I0&I1&~I3&I4&I5) ;

    GTP_LUT6 /* N14555 */ #(
            .INIT(64'b0101010100010001010101010100000101010101010101000100010000000100))
        N14555_vname (
            .Z (N14555),
            .I0 (rstn),
            .I1 (sel[0]),
            .I2 (sel[1]),
            .I3 (sel[2]),
            .I4 (sel[3]),
            .I5 (sel[4]));
    // defparam N14555_vname.orig_name = N14555;
	// LUT = (~I0&I1&I3)|(~I0&I3&I4)|(~I0&I3&I5)|(~I0&I1&~I2&~I5)|(~I0&I2&I4&~I5)|(~I0&~I1&~I2&I5)|(~I0&~I1&I2&I4)|(~I0&I1&I2&~I4&I5) ;
	// ../../../rtl/led_display_seg_ctrl.v:97

    GTP_LUT6 /* N14557_inv */ #(
            .INIT(64'b0001000001000000010100000001010000000001000000000001000000010101))
        N14557_inv (
            .Z (N14557),
            .I0 (rstn),
            .I1 (sel[0]),
            .I2 (sel[1]),
            .I3 (sel[2]),
            .I4 (sel[3]),
            .I5 (sel[4]));
	// LUT = (~I0&~I1&I2&~I4)|(~I0&~I1&~I3&~I4&~I5)|(~I0&I1&~I2&~I3&~I4)|(~I0&I2&I3&~I4&I5)|(~I0&~I1&I2&I3&I5)|(~I0&~I1&~I2&I3&I4&~I5)|(~I0&I1&I2&~I3&I4&I5) ;

    GTP_LUT6 /* N14558 */ #(
            .INIT(64'b0100010100010101000001010100000101010100010101010100010101000000))
        N14558_vname (
            .Z (N14558),
            .I0 (rstn),
            .I1 (sel[0]),
            .I2 (sel[1]),
            .I3 (sel[2]),
            .I4 (sel[3]),
            .I5 (sel[4]));
    // defparam N14558_vname.orig_name = N14558;
	// LUT = (~I0&I1&I3&~I5)|(~I0&I2&I4&~I5)|(~I0&~I2&I3&~I4)|(~I0&~I1&~I3&I4)|(~I0&~I1&~I2&I5)|(~I0&I1&~I2&I4)|(~I0&I1&I3&I4)|(~I0&I1&I2&~I3&~I4) ;
	// ../../../rtl/led_display_seg_ctrl.v:97

    GTP_LUT6 /* N14560_inv */ #(
            .INIT(64'b0001010000010000000001010001010001000000010000000001000000000001))
        N14560_inv (
            .Z (N14560),
            .I0 (rstn),
            .I1 (sel[0]),
            .I2 (sel[1]),
            .I3 (sel[2]),
            .I4 (sel[3]),
            .I5 (sel[4]));
	// LUT = (~I0&I1&I2&I4&~I5)|(~I0&I1&~I2&~I4&I5)|(~I0&~I2&I3&~I4&I5)|(~I0&~I1&I2&~I3&I5)|(~I0&I1&~I2&I3&I5)|(~I0&~I1&I2&I4&I5)|(~I0&~I1&~I2&~I3&~I4&~I5)|(~I0&~I1&I2&I3&~I4&~I5) ;

    GTP_LUT6 /* N14561 */ #(
            .INIT(64'b0100000101000101010100000100000100010101000101010100010101010100))
        N14561_vname (
            .Z (N14561),
            .I0 (rstn),
            .I1 (sel[0]),
            .I2 (sel[1]),
            .I3 (sel[2]),
            .I4 (sel[3]),
            .I5 (sel[4]));
    // defparam N14561_vname.orig_name = N14561;
	// LUT = (~I0&I1&~I4&~I5)|(~I0&I1&~I2&~I5)|(~I0&~I2&I3&~I5)|(~I0&~I1&I4&~I5)|(~I0&~I2&~I3&I4)|(~I0&~I1&~I2&I4)|(~I0&I1&I2&I5)|(~I0&I2&~I3&~I4&~I5)|(~I0&I2&I3&~I4&I5)|(~I0&~I1&~I2&~I3&I5) ;
	// ../../../rtl/led_display_seg_ctrl.v:97

    GTP_DFF_C /* \cnt[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt[0]  (
            .Q (cnt[0]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CLK (clk),
            .D (N11881));
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_DFF_C /* \cnt[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt[1]  (
            .Q (cnt[1]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CLK (clk),
            .D (N14536[1]));
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_DFF_C /* \cnt[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt[2]  (
            .Q (cnt[2]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CLK (clk),
            .D (N14536[2]));
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_DFF_C /* \cnt[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt[3]  (
            .Q (cnt[3]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CLK (clk),
            .D (N6[3]));
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_DFF_C /* \cnt[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt[4]  (
            .Q (cnt[4]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CLK (clk),
            .D (N14536[4]));
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_DFF_C /* \cnt[5]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt[5]  (
            .Q (cnt[5]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CLK (clk),
            .D (N14536[5]));
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_DFF_C /* \cnt[6]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt[6]  (
            .Q (cnt[6]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CLK (clk),
            .D (N14536[6]));
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_DFF_C /* \cnt[7]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt[7]  (
            .Q (cnt[7]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CLK (clk),
            .D (N14536[7]));
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_DFF_C /* \cnt[8]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt[8]  (
            .Q (cnt[8]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CLK (clk),
            .D (N6[8]));
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_DFF_C /* \cnt[9]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt[9]  (
            .Q (cnt[9]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CLK (clk),
            .D (N6[9]));
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_DFF_C /* \cnt[10]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt[10]  (
            .Q (cnt[10]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CLK (clk),
            .D (N6[10]));
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_DFF_C /* \cnt[11]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt[11]  (
            .Q (cnt[11]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CLK (clk),
            .D (N6[11]));
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_DFF_C /* \cnt[12]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt[12]  (
            .Q (cnt[12]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CLK (clk),
            .D (N6[12]));
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_DFF_C /* \cnt[13]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \cnt[13]  (
            .Q (cnt[13]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CLK (clk),
            .D (N14536[13]));
	// ../../../rtl/led_display_seg_ctrl.v:20

    GTP_DFF_CE /* seg_ce */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_ce (
            .Q (_N405),
            .C (N14545),
            .CE (seg_flag),
            .CLK (clk),
            .D (N34[1]));
	// ../../../rtl/led_display_seg_ctrl.v:97

    GTP_DFF_CE /* seg_ce_1 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_ce_1 (
            .Q (_N408),
            .C (N14548),
            .CE (seg_flag),
            .CLK (clk),
            .D (N34[2]));
	// ../../../rtl/led_display_seg_ctrl.v:97

    GTP_DFF_CE /* seg_ce_2 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_ce_2 (
            .Q (_N411),
            .C (N14542),
            .CE (seg_flag),
            .CLK (clk),
            .D (N34[0]));
	// ../../../rtl/led_display_seg_ctrl.v:97

    GTP_DFF_CE /* seg_ce_3 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_ce_3 (
            .Q (_N414),
            .C (N14560),
            .CE (seg_flag),
            .CLK (clk),
            .D (N34[6]));
	// ../../../rtl/led_display_seg_ctrl.v:97

    GTP_DFF_CE /* seg_ce_4 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_ce_4 (
            .Q (_N417),
            .C (N14551),
            .CE (seg_flag),
            .CLK (clk),
            .D (N34[3]));
	// ../../../rtl/led_display_seg_ctrl.v:97

    GTP_DFF_CE /* seg_ce_5 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_ce_5 (
            .Q (_N420),
            .C (N14554),
            .CE (seg_flag),
            .CLK (clk),
            .D (N34[4]));
	// ../../../rtl/led_display_seg_ctrl.v:97

    GTP_DFF_CE /* seg_ce_6 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_ce_6 (
            .Q (_N423),
            .C (N14557),
            .CE (seg_flag),
            .CLK (clk),
            .D (N34[5]));
	// ../../../rtl/led_display_seg_ctrl.v:97

    GTP_DLATCH_C /* seg_cp */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_cp (
            .Q (_N403),
            .C (N14545),
            .D (1'b1),
            .G (N14546));

    GTP_DLATCH_C /* seg_cp_1 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_cp_1 (
            .Q (_N406),
            .C (N14548),
            .D (1'b1),
            .G (N14549));

    GTP_DLATCH_C /* seg_cp_2 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_cp_2 (
            .Q (_N409),
            .C (N14542),
            .D (1'b1),
            .G (N14543));

    GTP_DLATCH_C /* seg_cp_3 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_cp_3 (
            .Q (_N412),
            .C (N14560),
            .D (1'b1),
            .G (N14561));

    GTP_DLATCH_C /* seg_cp_4 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_cp_4 (
            .Q (_N415),
            .C (N14551),
            .D (1'b1),
            .G (N14552));

    GTP_DLATCH_C /* seg_cp_5 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_cp_5 (
            .Q (_N418),
            .C (N14554),
            .D (1'b1),
            .G (N14555));

    GTP_DLATCH_C /* seg_cp_6 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_cp_6 (
            .Q (_N421),
            .C (N14557),
            .D (1'b1),
            .G (N14558));

    GTP_DFF_C /* seg_flag */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_flag_vname (
            .Q (seg_flag),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CLK (clk),
            .D (N11882));
    // defparam seg_flag_vname.orig_name = seg_flag;
	// ../../../rtl/led_display_seg_ctrl.v:36

    GTP_DFF_CE /* seg_sel */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_sel (
            .Q (_N404),
            .C (N14546),
            .CE (seg_flag),
            .CLK (clk),
            .D (1'b1));

    GTP_DFF_CE /* seg_sel_1 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_sel_1 (
            .Q (_N407),
            .C (N14549),
            .CE (seg_flag),
            .CLK (clk),
            .D (1'b1));

    GTP_DFF_CE /* seg_sel_2 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_sel_2 (
            .Q (_N410),
            .C (N14543),
            .CE (seg_flag),
            .CLK (clk),
            .D (1'b1));

    GTP_DFF_CE /* seg_sel_3 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_sel_3 (
            .Q (_N413),
            .C (N14561),
            .CE (seg_flag),
            .CLK (clk),
            .D (1'b1));

    GTP_DFF_CE /* seg_sel_4 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_sel_4 (
            .Q (_N416),
            .C (N14552),
            .CE (seg_flag),
            .CLK (clk),
            .D (1'b1));

    GTP_DFF_CE /* seg_sel_5 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_sel_5 (
            .Q (_N419),
            .C (N14555),
            .CE (seg_flag),
            .CLK (clk),
            .D (1'b1));

    GTP_DFF_CE /* seg_sel_6 */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        seg_sel_6 (
            .Q (_N422),
            .C (N14558),
            .CE (seg_flag),
            .CLK (clk),
            .D (1'b1));

    GTP_DFF_CE /* \sel[0]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \sel[0]  (
            .Q (sel[0]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CE (sel_flag),
            .CLK (clk),
            .D (N16294[0]));
	// ../../../rtl/led_display_seg_ctrl.v:84

    GTP_DFF_CE /* \sel[1]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \sel[1]  (
            .Q (sel[1]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CE (sel_flag),
            .CLK (clk),
            .D (N16294[1]));
	// ../../../rtl/led_display_seg_ctrl.v:84

    GTP_DFF_CE /* \sel[2]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \sel[2]  (
            .Q (sel[2]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CE (sel_flag),
            .CLK (clk),
            .D (N16294[2]));
	// ../../../rtl/led_display_seg_ctrl.v:84

    GTP_DFF_CE /* \sel[3]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \sel[3]  (
            .Q (sel[3]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CE (sel_flag),
            .CLK (clk),
            .D (N16294[3]));
	// ../../../rtl/led_display_seg_ctrl.v:84

    GTP_LUT6D /* \sel[4:0]_inv  */ #(
            .INIT(64'b0101010101010101010101010101010101111000011110000111100001111000))
        \sel[4:0]_inv  (
            .Z (N16294[0]),
            .Z5 (N16294[2]),
            .I0 (sel[0]),
            .I1 (sel[1]),
            .I2 (sel[2]),
            .I3 (),
            .I4 (),
            .I5 (1'b1));
	// LUT = ~I0 ;
	// Z5 = (I0&I1&~I2)|(~I1&I2)|(~I0&I2) ;

    GTP_DFF_CE /* \sel[4]  */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        \sel[4]  (
            .Q (sel[4]),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CE (sel_flag),
            .CLK (clk),
            .D (N16294[4]));
	// ../../../rtl/led_display_seg_ctrl.v:84

    GTP_DFF_C /* sel_flag */ #(
            .GRS_EN("TRUE"), 
            .INIT(1'b0))
        sel_flag_vname (
            .Q (sel_flag),
            .C (\hc595_ctrl_inst/N61_1 ),
            .CLK (clk),
            .D (N11880));
    // defparam sel_flag_vname.orig_name = sel_flag;
	// ../../../rtl/led_display_seg_ctrl.v:28


endmodule


module led_diaplay_top
(
    input clk,
    input rstn,
    output rck,
    output sck,
    output ser
);
	// SDC constraint : (object clk) (id 1000) (clock led_diaplay_top|clk) (inferred)
    wire _N403;
    wire _N404;
    wire _N405;
    wire _N406;
    wire _N407;
    wire _N408;
    wire _N409;
    wire _N410;
    wire _N411;
    wire _N412;
    wire _N413;
    wire _N414;
    wire _N415;
    wire _N416;
    wire _N417;
    wire _N418;
    wire _N419;
    wire _N420;
    wire _N421;
    wire _N422;
    wire _N423;
    wire \hc595_ctrl_inst/N61_1 ;
    wire nt_clk;
    wire nt_rck;
    wire nt_rstn;
    wire nt_sck;
    wire nt_ser;
    wire [4:0] sel;

    GTP_GRS GRS_INST (
            .GRS_N (1'b1));

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="D18", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_NONE="TRUE" *)    GTP_INBUF /* clk_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        clk_ibuf (
            .O (nt_clk),
            .I (clk));
	// ../../../rtl/led_display_top.v:2

    hc595_ctrl hc595_ctrl_inst (
            .sel (sel),
            .N61_1 (\hc595_ctrl_inst/N61_1 ),
            .rck (nt_rck),
            .sck (nt_sck),
            .ser (nt_ser),
            ._N403 (_N403),
            ._N404 (_N404),
            ._N405 (_N405),
            ._N406 (_N406),
            ._N407 (_N407),
            ._N408 (_N408),
            ._N409 (_N409),
            ._N410 (_N410),
            ._N411 (_N411),
            ._N412 (_N412),
            ._N413 (_N413),
            ._N414 (_N414),
            ._N415 (_N415),
            ._N416 (_N416),
            ._N417 (_N417),
            ._N418 (_N418),
            ._N419 (_N419),
            ._N420 (_N420),
            ._N421 (_N421),
            ._N422 (_N422),
            ._N423 (_N423),
            .sys_clk (nt_clk),
            .sys_rst_n (nt_rstn));
	// ../../../rtl/led_display_top.v:10

    led_display_seg_ctrl led_display_seg_ctrl_inst (
            .sel (sel),
            ._N403 (_N403),
            ._N404 (_N404),
            ._N405 (_N405),
            ._N406 (_N406),
            ._N407 (_N407),
            ._N408 (_N408),
            ._N409 (_N409),
            ._N410 (_N410),
            ._N411 (_N411),
            ._N412 (_N412),
            ._N413 (_N413),
            ._N414 (_N414),
            ._N415 (_N415),
            ._N416 (_N416),
            ._N417 (_N417),
            ._N418 (_N418),
            ._N419 (_N419),
            ._N420 (_N420),
            ._N421 (_N421),
            ._N422 (_N422),
            ._N423 (_N423),
            .clk (nt_clk),
            .\hc595_ctrl_inst/N61_1  (\hc595_ctrl_inst/N61_1 ),
            .rstn (nt_rstn));
	// ../../../rtl/led_display_top.v:22

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="V14", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_UNUSED="TRUE", PAP_IO_SLEW="FAST" *)    GTP_OUTBUF /* rck_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        rck_obuf (
            .O (rck),
            .I (nt_rck));
	// ../../../rtl/led_display_top.v:6

(* PAP_IO_DIRECTION="INPUT", PAP_IO_LOC="C22", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_NONE="TRUE" *)    GTP_INBUF /* rstn_ibuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .TERM_DDR("ON"))
        rstn_ibuf (
            .O (nt_rstn),
            .I (rstn));
	// ../../../rtl/led_display_top.v:3

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="U14", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_UNUSED="TRUE", PAP_IO_SLEW="FAST" *)    GTP_OUTBUF /* sck_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        sck_obuf (
            .O (sck),
            .I (nt_sck));
	// ../../../rtl/led_display_top.v:5

(* PAP_IO_DIRECTION="OUTPUT", PAP_IO_LOC="W21", PAP_IO_VCCIO="3.3", PAP_IO_STANDARD="LVCMOS33", PAP_IO_DRIVE="8", PAP_IO_UNUSED="TRUE", PAP_IO_SLEW="FAST" *)    GTP_OUTBUF /* ser_obuf */ #(
            .IOSTANDARD("DEFAULT"), 
            .SLEW_RATE("SLOW"), 
            .DRIVE_STRENGTH("8"))
        ser_obuf (
            .O (ser),
            .I (nt_ser));
	// ../../../rtl/led_display_top.v:4


endmodule

